<div id="c-maintenance-user-email-changes">
  <div id="a-new">
    <h1>Change Email</h1>

    <p>You must confirm your password in order to change your email address.</p>

    <%= form_tag(maintenance_user_email_change_path, :class => "simple_form") do %>
      <div class="input">
        <label>New Email</label>
        <%= email_field :email_change, :email %>
      </div>

      <div class="input">
        <label>Password</label>
        <%= password_field :email_change, :password %>
      </div>

      <div>
        <%= submit_tag "Submit" %>
      </div>
    <% end %>
  </div>
</div>
