<div class="tag-list inline-tag-list">
  <% categorized_tags(TagCategory.categorized_list).each do |category_name, tags| %>
    <% tags.each do |t| %>
      <%= link_to t.name, posts_path(tags: t.name), class: "search-tag tag-type-#{t.category}", "data-tag-name": t.name, "data-is-deprecated": t.is_deprecated? %>
    <% end %>
  <% end %>
</div>
