<div class="popup-menu <%= classes %>">
  <a class="popup-menu-button" href="javascript:void(0)">
    <% if button.present? %>
      <%= button %>
    <% else %>
      <%= helpers.ellipsis_icon %>
    <% end %>
  </a>

  <ul class="popup-menu-content">
    <% items.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</div>
