<div class="popup-menu">
  <a class="popup-menu-button" href="javascript:void(0)">
    <%= ellipsis_icon %>
  </a>

  <ul class="popup-menu-content">
    <% items.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</div>
