@use "../../javascript/src/styles/base/mixins" as *;

div.popup-menu {
  a.default-popup-menu-button {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: var(--muted-text-color);

    // the popup menu is open
    &[aria-expanded="true"] {
      @include active-link;
    }

    // the popup menu is not open
    &:not([aria-expanded="true"]) {
      @include inactive-link;
    }
  }

  ul.popup-menu-content {
    display: none;

    li a {
      display: block;
      padding: 0.125em 0 0.125em 0;

      .icon {
        width: 1rem;
        margin-right: 0.25rem;
      }
    }
  }
}
