<div id="c-pools">
  <div id="a-edit">
    <% if params[:advanced] %>
      <%= render "advanced_edit" %>
    <% else %>
      <%= render :partial => "simple_edit", :locals => {:posts => @pool.posts} %>
    <% end %>    
  </div>
</div>

<%= render "secondary_links" %>
