@import "../common/000_vars.css.scss";

div#main {
  max-width: 960px;
}

header {
  margin: 10px;
  padding: 0;
  overflow: visible;
  
  div#search-item {
    float: right;
    
    input {
      font-size: 2em;
    }
  }
  
  div#sign-in-item {
    float: left;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.3em;
  }
}

footer {
  div.paginator {
    overflow: visible;
    
    li {
      a {
        border: none;
      }
    }
    
    li:first-child {
      float: left;
    }
    
    li:last-child {
      float: right;
    }
  }
  
  div.back {
    overflow: visible;
    padding: 5em 0 10em 0;
    
    a {
      display: block;
      float: right;
      font-size: 3em;
      font-weight: bold;
    }
  }
}

div#posts {
  overflow: visible;
  clear: both;
  padding-top: 10px;
}

div.post-previews {
  overflow: visible;
}

article.post-preview {
  height: 188px;
  width: 188px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
}

article.post-preview.blacklisted-active {
  display: none;
}

article.post-preview img {
  border: 3px solid transparent;
}

article.post-preview.post-status-has-parent img {
  border: 3px solid #CC0;
}

article.post-preview.post-status-has-children img {
  border: 3px solid #0F0;
}

article.post-preview.post-status-pending img {
  border: 3px solid #00F;
}

article.post-preview.post-status-flagged img {
  border: 3px solid #F00;
}

img#image {
  margin: 10px;
}

div#tag-list {
  padding: 10px;
  
  li {
    display: inline-block;
    margin: 2.5em 0.5em;

    a {
      background: #eee;
      font-size: 3em;
      font-weight: bold;
      padding: 0.2em 0.5em;
      border: 1px solid #666;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  }
}

div#c-posts {
  li.category-1 a {
    color: #A00;
  }
  
  li.category-3 a {
    color: #A0A;
  }
  
  li.category-4 a {
    color: #0A0;
  }
}
