@import "../common/000_vars.css.scss";

article.post-preview {
  height: 150px;
  width: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  vertical-align: middle;
  @include inline-block;
}