<div id="c-moderator-invitations">
  <div id="a-index">
    <h1>Invitations</h1>

    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>

    <%= numbered_paginator(@users) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Invitations - <%= Danbooru.config.app_name %>
<% end %>
