<div id="c-moderator-invitations">
  <div id="a-new">
    <h1>New Invitation</h1>
    
    <%= form_tag(moderator_invitations_path) do %>
      <div class="input">
        <label>User</label>
        <%= text_field :invitation, :user_name %>
      </div>
      
      <div class="input">
        <label>Level</label>
        <%= level_select %>
      </div>
      
      <%= submit_tag %>
    <% end %>
  </div>
</div>
