<div id="c-forum-topics">
  <div id="a-new">
    <h1>New Forum Topic</h1>

    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Forum Topic - <%= Danbooru.config.app_name %>
<% end %>
