<div id="c-forum-topics">
  <div id="a-show">
    <h1 id="forum-topic-title">
      <%= @forum_topic.title %>
      <% if @forum_topic.is_locked? %>
        <span class="info">(locked)</span>
      <% end %>
      <% if @forum_topic.is_sticky? %>
        <span class="info">(sticky)</span>
      <% end %>
    </h1>

    <%= render :partial => "forum_posts/listing", :locals => {:forum_posts => @forum_posts} %>
    <%= render "paginator" %>
  </div>
</div>

<%= render "secondary_links" %>