<% cache("tag-change-notice:#{tag.name}", expires_in: 4.hours) do %>
  <% if pending_burs.present? %>
    <p class="fineprint tag-change-notice mt-3">
      This tag is being discussed in
      <%= pending_burs.group_by { |bur| bur.forum_topic }.map {|forum_topic, burs| bur_links_for_topic(forum_topic: forum_topic, burs: burs) }.to_sentence.html_safe %>.
    </p>
  <% end %>
<% end %>
