<div id="c-artist-versions">
  <div id="a-index">
    <h1>Artist History</h1>

    <%= render "versions/types" %>

    <%= render "listing" %>

    <%= numbered_paginator(@artist_versions, :search_count => params[:search]) %>

  </div>
</div>

<%= render "secondary_links" %>
