<div id="c-artist-versions">
  <div id="a-index">
    <h1>Artist History</h1>

    <%= render "standard_listing" %>
    <%= numbered_paginator(@artist_versions, :search_count => params[:search]) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Artist Versions - <%= Danbooru.config.app_name %>
<% end %>
