<section id="blacklist-box" class="inline-blacklist">
  <strong>Blacklisted: </strong>
  <ul id="blacklist-list">
    <li id="disable-all-blacklists" style="display: none;"><span class="link">Disable all</span></li>
    <li id="re-enable-all-blacklists" style="display: none;"><span class="link">Re-enable all</span></li>
  </ul>
</section>
