<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", posts_path %></li>
    <li><%= link_to "Upload", new_upload_path %></li>
    <li>Popular</li>
    <li>Favorites</li>
    <li>Subscriptions</li>
    <li><%= link_to "Changes", post_histories_path %></li>
    <li>Approvals</li>
    <li>Moderate</li>
    <li>Help</li>
  </menu>
<% end %>
