<div id="c-notes">
  <div id="a-index">
    <%= @post_set.presenter.post_previews_html(self) %>
    
    <%= numbered_paginator(@posts, false) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Notes - <%= Danbooru.config.app_name %>
<% end %>
