<!--
- source
 -->

<div id="source-info">
  <p><%= link_to "Fetch source data", source_path(:format => "json"), :id => "fetch-data-manual" %></p>
  <p><%= content_tag "span", "Loading source data...", :id => "loading-data", :style => "display: none;" %></p>
  <p id="remote-size" style="display: none;"></p>
  <p id="gallery-warning" style="display: none;"><%= content_tag "span", "Gallery. Tags may not apply to all images." %></p>

  <ul>
    <li><strong>Artist</strong>: <a id="source-artist-profile"></a> (<span id="source-danbooru-artists"></span>)</li>
    <li class="source-tags"><strong>Tags</strong>: <span id="source-tags"></span></li>
  </ul>
</div>
