<!--
- source
 -->

<% if source.try(:available?) %>
  <div id="source-info">
    <p>Loading <%= source.site_name %> data... <%= link_to "Fetch", source_path(:format => "json", :url => source.referer_url(self)), :id => "fetch-data", :style => "display: none;" %>.</p>

    <ul>
      <li><strong>Artist</strong>: <span id="source-artist"></span></li>
      <li><strong>Tags</strong>: <span id="source-tags"></span></li>
      <li><strong>Record</strong>: <span id="source-record"></span></li>
    </ul>
  </div>
<% end %>
