<div class="paginator sequential-paginator mt-8 mb-4 space-x-2 flex justify-center items-center">
  <%= link_to_page chevron_left_icon, prev_page, class: "paginator-prev", rel: "prev", "data-shortcut": "a left" %>
  <%= link_to_page chevron_right_icon, next_page, class: "paginator-next", rel: "next", "data-shortcut": "d right" %>
</div>
