.env.*
.eslintcache
.yarn-integrity
.gitconfig
.git/
config/danbooru_local_config.rb
config/deploy/*.rb
config/newrelic.yml
node_modules/
log/
tmp/
public/data/
public/packs-test/
public/packs/
/vendor/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

apply
*.patch
.irb_history
