# https://git-scm.com/docs/gitmailmap
# git shortlog --email --summary --numbered

albert <r888888888@gmail.com> <r888888888@gmail.com>
albert <r888888888@gmail.com> <albert@carbonfive.com>
albert <r888888888@gmail.com> <ayi@desk.com>
albert <r888888888@gmail.com> <ayi@opnet.com>
albert <r888888888@gmail.com> <ayi@Administrators-MacBook-Pro.local>
albert <r888888888@gmail.com> <ayi@macbook1.opnet.com>
albert <r888888888@gmail.com> <albert@fuyumi.local>

evazion <noizave@gmail.com> <evazion@users.noreply.github.com>
Toks <tttoksss@gmail.com> <tttoksss@gmail.com>
BrokenEagle <BrokenEagle98@gmail.com> <brokeneagle98@yahoo.com>
BrokenEagle <BrokenEagle98@gmail.com> <BrokenEagle98@yahoo.com>
nonamethanks <hellafrickingepic@gmail.com> <nonamethanks@users.noreply.github.com>
Moebius-Strip <fake.moebius@gmail.com> <Moebius-Strip@users.noreply.github.com>
GlassedSilver <glassedsilver@gmail.com> <falk993@gmx.net>
Robin Liao <randuin@gmail.com> <randuin@gmail.com>
Robin Liao <randuin@gmail.com> <rliao@riotgames.com>
Robin Liao <randuin@gmail.com> <randuin@dev.(none)>
Robin Liao <randuin@gmail.com> <robin.liao@sleepygiant.com>
