<div id="c-tag-aliases">
  <div id="a-index">
    <%= render "tag_relationships/search", url: tag_aliases_path %>
    <%= render "listing", :tag_aliases => @tag_aliases %>

    <%= numbered_paginator(@tag_aliases) %>
  </div>
</div>

<%= render "tags/secondary_links" %>
