<table class="striped">
  <caption>Tag Updates</caption>
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.tags.each do |activity| %>
      <tr>
        <td><%= link_to_user(activity.user) %></td>
        <td><%= link_to activity.count, post_versions_path(:search => {:updater_id => activity.user.id})  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
