<table class="striped">
  <caption>User Feedback</caption>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.user_feedbacks.each do |record| %>
      <tr class="feedback-category-<%= record.category %>">
        <td><%= link_to_user(record.user) %></td>
        <td><%= format_text(record.body) %></td>
        <td><%= time_ago_in_words_tagged(record.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
