<table class="striped">
  <caption>Uploads</caption>
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.posts.each do |activity| %>
      <tr>
        <td><%= link_to_user(activity.user) %></td>
        <td><%= link_to activity.count, posts_path(:tags => "user:#{activity.user.name}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
