<table class="search">
  <tbody>
    <%= form_tag(artists_path, :method => :get, :class => "simple_form") do %>
      <tr>
        <th><label for="search_name">Name</label>
        <td>
          <div class="input">
            <%= text_field "search", "name" %>
            <span class="hint">You can search on any name or URL</span>
          </div>
        </td>
      </tr>

      <tr>
        <th><label for="search_sort">Sort</label>
        <td>
          <div class="input">
            <%= select "search", "sort", [["Date", "date"], ["Name", "name"]] %>
          </div>
        </td>
      </tr>

      <tr>
        <td><%= submit_tag "Search" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
