<div id="c-artists">
  <div id="a-banned">
    <h1>Banned Artists</h1>

    <p>The following artists have requested they be removed from the site. Please do not upload any works from these artists. These artists all have implications pointing to the <code>banned_artist</code> tag.</p>

    <ul>
      <% @artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Banned Artists - <%= Danbooru.config.app_name %>
<% end %>
