<div id="c-artists">
  <div id="a-edit">
    <h1>Edit Artist</h1>
    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Artist - <%= Danbooru.config.app_name %>
<% end %>
