<div id="c-artists">
  <div id="a-edit">
    <h1>Edit Artist</h1>

    <% if @artist.editable_by?(CurrentUser.user) %>
      <%= render "form" %>

    <% elsif !@artist.is_active? %>
      <p>This artist entry is inactive and cannot be edited.</p>

    <% elsif @artist.is_banned? %>
      <p>The artist requested removal of this page.</p>

    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
