<div id="c-artists">
  <div id="a-edit">
    <h1>Edit Artist</h1>

    <% if @artist.visible? %>
      <%= render "form" %>
    <% else %>
      <p>The artist requested removal of this page.</p>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Artist - <%= Danbooru.config.app_name %>
<% end %>
