<!doctype html>
<html>
<body>
<p><%= h @dmail.from.name %> said:</p>

<div>
  <%= DText.parse(@dmail.body) %>
</div>

<p><%= link_to "View message", dmail_path(@dmail, :host => Danbooru.config.hostname, :only_path => false) %></p>
</body>
</html>
