<!doctype html>
<html>
<body>
<p><%= @dmail.from.name %> said:</p>

<div class="prose">
  <%= format_text(@dmail.body, base_url: root_url) %>
</div>

<p><%= link_to "View message", dmail_url(@dmail) %> | <%= link_to "Disable notifications", disable_email_notifications_url(@dmail.to) %></p>
</body>
</html>
