<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "screen" %>
</head>
<body>
<p><%= h @dmail.from.name %> said:</p>

<div>
  <%= DText.parse(@dmail.body) %>
</div>

<p><%= link_to "View message", dmail_url(@dmail, :host => Danbooru.config.hostname, :only_path => false) %></p>
</body>
</html>
