<h2>Hi <%= link_to_user @user %>,</h2>

<p>
  You changed your email address on <%= link_to Danbooru.config.canonical_app_name, root_url %>.
  Click the link below to verify your new email address:
</p>

<p style="margin-left: 2em">
  <%= link_to "Verify email address", email_verification_url(@user) %>
</p>

<p class="fineprint">
  You received this email because someone changed their email to this address on <%= link_to Danbooru.config.canonical_app_name, root_url %>. If this
  wasn't you, you may ignore this email.
</p>
