<h2>Hi <%= link_to_user @user %>,</h2>

<p>
  You requested that your <%= Danbooru.config.canonical_app_name %> password be reset.
  Click the link below to reset your password:
</p>

<p style="margin-left: 2em">
  <%= link_to "Reset password", edit_password_reset_url(user: { signed_id: @user.signed_id(purpose: :password_reset, expires_in: 30.minutes) }) %>
</p>

<p class="fineprint">
  You received this email because someone requested a password reset for your account on <%= link_to Danbooru.config.canonical_app_name, root_url %>.<br>
  If this wasn't you, you may ignore this email. This link will expire in 30 minutes.
</p>
