<h2>Hi <%= link_to_user @user %>,</h2>

<p>
  You requested your <%= link_to Danbooru.config.canonical_app_name, root_url %> password to be reset.
  Click the link below to reset your password:
</p>

<p style="margin-left: 2em">
  <%= link_to "Reset password", edit_user_password_url(@user, signed_user_id: Danbooru::MessageVerifier.new(:login).generate(@user.id, expires_in: 30.minutes)) %>
</p>

<p class="fineprint">
  You received this email because someone requested a password reset for your account on <%= link_to Danbooru.config.canonical_app_name, root_url %>.<br>
  If this wasn't you, you may ignore this email. This link will expire in 30 minutes.
</p>
