<!doctype html>
<html>
<body>
<p>You can upgrade your account by sending $20 USD via Paypal to <%= mail_to Danbooru.config.upgrade_account_email %>. Be sure to include your username.</p>
</body>
</html>
