.tag-list {
  a.wiki-link {
    margin-right: 0.25rem;
  }

  a.search-tag {
    overflow-wrap: normal;
  }

  &.inline-tag-list {
    display: inline;

    a {
      margin-right: 0.5em;
    }
  }

  ul {
    margin-bottom: 1em;
  }
}
