<div id="c-comments">
  <div id="a-edit">
    <h1>Edit Comment</h1>

    <%= render "comments/form", :post => @comment.post, :comment => @comment %>
  </div>
</div>

<%= render "comments/secondary_links" %>

<% content_for(:page_title) do %>
  Edit Comment - <%= Danbooru.config.app_name %>
<% end %>
