<div id="c-comments">
  <div id="a-index">
    <h1>Comments</h1>
    
    <div class="comments-for-post">
      <div class="list-of-comments">
        <% @comments.each do |comment| %>
          <%= render "comments/partials/show/comment", :post => comment.post, :comment => comment, :show_header => false %>
        <% end %>
      </div>
    </div>
    
    <%= sequential_paginator(@comments) %>
  </div>
</div>

<%= render "comments/secondary_links" %>
