<% meta_description "See comments on #{Danbooru.config.app_name}." %>

<% atom_feed_tag "Comments", comments_url(:atom, search: params.fetch(:search, {}).permit!) %>
<%= render "secondary_links" %>

<div id="c-comments">
  <div id="a-index">
    <h1>Comments</h1>

    <% if params[:group_by] == "comment" %>
      <%= render "index_by_comment" %>
    <% else %>
      <%= render "index_by_post" %>
    <% end %>
  </div>
</div>
