<div id="c-comments">
  <div id="a-show">
    <div class="comments-for-post">
      <div class="list-of-comments">
        <%= content_tag(:div, { id: "post_#{@comment.post_id}", class: ["post", *PostPresenter.preview_class(@comment.post)].join(" ") }.merge(PostPresenter.data_attributes(@comment.post))) do %>
          <div class="preview">
            <% if @comment.post.visible? %>
              <%= link_to(image_tag(@comment.post.preview_file_url), post_path(@comment.post)) %>
            <% end %>
          </div>
          <%= render :partial => "comments/partials/show/comment", :collection => [@comment] %>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "secondary_links" %>
