---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_kHviyCxbt9kBxeu46TeefJQH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_14w1lk2Od3yiQVdJJ3XzlTSH\",\n  \"livemode\": false,\n
        \ \"created\": 1415324552,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_14w1lk2Od3yiQVdJ8ddU76Aq\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"brand\": \"Visa\",\n
        \   \"funding\": \"credit\",\n    \"exp_month\": 1,\n    \"exp_year\": 2015,\n
        \   \"fingerprint\": \"xrSmurPsZCJllxXR\",\n    \"country\": \"US\",\n    \"name\":
        null,\n    \"address_line1\": null,\n    \"address_line2\": null,\n    \"address_city\":
        null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\":
        null,\n    \"dynamic_last4\": null,\n    \"customer\": null\n  }\n}\n"
  recorded_at: Fri, 07 Nov 2014 01:42:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=4000&currency=usd&card=tok_14w1lk2Od3yiQVdJJ3XzlTSH&description=Upgrade%20to%20Platinum
    headers:
      Authorization:
      - Bearer sk_test_kHviyCxbt9kBxeu46TeefJQH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_14w1lk2Od3yiQVdJAQwoEXgF\",\n  \"object\": \"charge\",\n
        \ \"created\": 1415324552,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        4000,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_14w1lk2Od3yiQVdJ8ddU76Aq\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n    \"exp_month\":
        1,\n    \"exp_year\": 2015,\n    \"fingerprint\": \"xrSmurPsZCJllxXR\",\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null,\n    \"dynamic_last4\": null,\n    \"customer\": null\n  },\n  \"captured\":
        true,\n  \"refunds\": {\n    \"object\": \"list\",\n    \"total_count\": 0,\n
        \   \"has_more\": false,\n    \"url\": \"/v1/charges/ch_14w1lk2Od3yiQVdJAQwoEXgF/refunds\",\n
        \   \"data\": []\n  },\n  \"balance_transaction\": \"txn_14w1lk2Od3yiQVdJjDRDaKkC\",\n
        \ \"failure_message\": null,\n  \"failure_code\": null,\n  \"amount_refunded\":
        0,\n  \"customer\": null,\n  \"invoice\": null,\n  \"description\": \"Upgrade
        to Platinum\",\n  \"dispute\": null,\n  \"metadata\": {},\n  \"statement_description\":
        null,\n  \"fraud_details\": {\n    \"stripe_report\": null,\n    \"user_report\":
        null\n  },\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"shipping\":
        null\n}\n"
  recorded_at: Fri, 07 Nov 2014 01:42:32 GMT
recorded_with: VCR 2.9.0
