---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_kHviyCxbt9kBxeu46TeefJQH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_14w1lm2Od3yiQVdJsgew67au\",\n  \"livemode\": false,\n
        \ \"created\": 1415324554,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_14w1ll2Od3yiQVdJbLrKD9YV\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"brand\": \"Visa\",\n
        \   \"funding\": \"credit\",\n    \"exp_month\": 1,\n    \"exp_year\": 2015,\n
        \   \"fingerprint\": \"xrSmurPsZCJllxXR\",\n    \"country\": \"US\",\n    \"name\":
        null,\n    \"address_line1\": null,\n    \"address_line2\": null,\n    \"address_city\":
        null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\":
        null,\n    \"dynamic_last4\": null,\n    \"customer\": null\n  }\n}\n"
  recorded_at: Fri, 07 Nov 2014 01:42:33 GMT
recorded_with: VCR 2.9.0
