article.comment {
  flex: 1;

  &[data-is-sticky="true"] {
    background: var(--comment-sticky-background-color);
  }

  &[data-is-reported="true"] {
    background-color: var(--moderation-report-background-color);
  }

  &[data-is-voted="true"] {
    .comment-vote-up-link, .comment-vote-down-link {
      display: none;
    }
  }

  &[data-is-voted="false"] {
    .comment-unvote-link {
      display: none;
    }
  }

  &[data-is-dimmed="true"] {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  .unhide-comment-link {
    margin-bottom: 1em;
    display: block;
  }

  .moderation-report-notice {
    font-weight: bold;
    color: var(--moderation-report-text-color);
  }
}
