$h1_size: 2em;
$h2_size: 1.5em;
$h3_size: 1.16667em;
$h4_size: 1em;
$dtext_h1_size: 2em;
$dtext_h2_size: 1.8em;
$dtext_h3_size: 1.6em;
$dtext_h4_size: 1.4em;
$dtext_h5_size: 1.2em;
$dtext_h6_size: 1em;
$h1_padding: 0.8em 0 0.25em 0;
$h2_padding: 0.8em 0 0.25em 0;
$h3_padding: 0.8em 0 0.25em 0;
$h4_padding: 0.8em 0 0.25em 0;
$base_font_family: Verdana, Helvetica, sans-serif;

@mixin animated-icon {
  content: "►";
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--preview-icon-color);
  background: var(--preview-icon-background);
  margin: 2px;
  text-align: center;
}

@mixin sound-icon {
  content: "♪";
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--preview-icon-color);
  background: var(--preview-icon-background);
  margin: 2px;
  text-align: center;
}

// https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements
@mixin fa-solid-icon($content) {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
  font-weight: 900;
  content: $content;
}
