*, ::before, ::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, dl, dd, menu {
  margin: 0;
}

p, a {
  line-height: 1.25em;
}

table {
  border-collapse: collapse;
}

ol, ul {
  padding: 0;
  list-style: none;
}

a:focus {
  outline: thin dotted;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}
