@import "../base/000_vars.scss";

a:link {
  color: $link_color;
  text-decoration: none;
}

a:visited {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  color: $link_hover_color;
  text-decoration: none;
}

a:active {
  color: $link_color;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

a.wiki-link {
  margin-right: 0.3em;
}
