<div class="dtext-help">
  <h1>DText Reference</h1>
  <pre>
A paragraph.

Followed by another.

h1. A header

* List item 1
* List item 2
* List item 3

Linebreaks are important between lists, 
headers, and paragraphs.

URLs are automatically linked: http://www.google.com

Explicitly set a URL: [url]http://www.google.com[/url]

Or alias a URL: [url=http://www.google.com]Google[/url]

A [[wiki link]] (underscores are not needed).

A {{post link}}. Alternatively, post #1234 (also works with forum posts, comments and pools).

<%= link_to "Read more", wiki_pages_path(:title => "help:dtext") %>.
  </pre>  
</div>
