<%= format_text(WikiPage.titled(Danbooru.config.flag_notice_wiki_page).first.try(&:body), :ragel => true) %>

<p>Enter a reason:</p>

<%= form_tag(post_flags_path(:format => :js), :remote => true) do %>
  <%= hidden_field :post_flag, :post_id %>
  <%= text_area :post_flag, :reason, :size => "40x5" %>
<% end %>
