<ul class="post-flag-reason list-bulleted">
  <li>
    <span class="prose"><%= format_text(flag.reason, inline: true) %></span>

    <% if policy(flag).can_view_flagger? %>
      (<%= link_to_user(flag.creator) %>, <%= time_ago_in_words_tagged(flag.created_at) %>)
    <% else %>
      (<%= time_ago_in_words_tagged(flag.created_at) %>)
    <% end %>
  </li>
</ul>
