<header>
  <menu>
    <li id="search-item">
      <%= form_tag(m_posts_path, :method => :get) do %>
        <%= search_field_tag :tags, params[:tags] %>
      <% end %>
    </li>
    <li id="sign-in-item">
      <% if true || CurrentUser.is_anonymous? %>
        <%= link_to "Sign in", new_m_session_path %>
      <% end %>
    </li>
  </menu>
</header>
