<div id="c-tag-subscriptions">
  <div id="a-edit">
    <h1>Edit Tag Subscription</h1>

    <%= error_messages_for "tag_subscription" %>

    <%= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Edit Tag Subscription - <%= Danbooru.config.app_name %>
<% end %>
