<div id="c-tag-subscriptions">
  <div id="a-new">
    <h1>New Tag Subscription</h1>

    <p class="info">This feature is disabled.</p>

    <%#= error_messages_for "tag_subscription" %>

    <%#= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  New Tag Subscription - <%= Danbooru.config.app_name %>
<% end %>
