<% page_title "Deactivate Account" %>

<div id="c-maintenance-user-deletions">
  <div id="a-show" class="prose">
    <h1>Deactivate Account</h1>

    <p>
      You can deactivate your <%= Danbooru.config.app_name %> account using
      the form below. Deactivating your account will do the following things:
    </p>

    <ul>
      <li>Change your name to a generic name</li>
      <li>Delete your favorites</li>
      <li>Delete your saved searches</li>
      <li>Delete your password and email address</li>
      <li>Delete your account settings</li>
    </ul>

    <p>
      The following things will <strong>not</strong> be deleted:
    </p>

    <ul>
      <li>Posts you've uploaded</li>
      <li>Comments, forum posts, and private messages</li>
      <li>Tag edits, wiki edits, translation notes, or any other contributions to the site</li>
    </ul>

    <p>
      Enter your password below to deactivate your account. This cannot be
      undone. Your account cannot be recovered after it is deactivated.
    </p>

    <%= form_tag(maintenance_user_deletion_path, :method => :delete, :class => "simple_form") do %>
      <div class="input">
        <label>Password</label>
        <%= password_field_tag :password %>
      </div>

      <div class="input">
        <%= submit_tag "Deactivate account" %>
      </div>
    <% end %>
  </div>
</div>
