.media-asset-animation-icon, .media-asset-image-count-icon {
  color: var(--preview-icon-color);
  background: var(--preview-icon-background);
}

.media-asset-placeholder {
  background-color: var(--media-asset-placeholder-background-color);
}
