<div class="tag-column ai-tags-related-tags-column hidden">
  <h3 class="flex items-center space-x-1">
    <input type="checkbox" class="invisible">
    <span>Suggested</span>
  </h3>

  <ul class="tag-list simple-tag-list">
    <% ai_tags.each do |ai_tag| %>
      <li class="flex items-center space-x-1">
        <input type="checkbox" tabindex="-1">
        <span>
          <% t = ai_tag.is_aliased? ? ai_tag.aliased_tag : ai_tag.tag %>

          <%= link_to t.pretty_name, posts_path(tags: t.name), class: "search-tag tag-type-#{t.category}", "data-tag-name": t.name %>
          <%= tag.span "#{ai_tag.score}%", class: "text-muted text-xs" %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
