<% ai_tags = related_tags&.ai_tags.to_a %>

<div class="card p-2 tag-column ai-tags-related-tags-column" x-data="{ collapsed: false }">
  <div class="flex justify-between ml-4">
    <h6>Suggested</h6>

    <a href="javascript:void(0)" class="inline-block align-top w-4" x-cloak x-on:click="collapsed = false" x-show="collapsed"><%= chevron_down_icon(class: "rotate-180") %></a>
    <a href="javascript:void(0)" class="inline-block align-top w-4" x-cloak x-on:click="collapsed = true" x-show="!collapsed"><%= chevron_down_icon %></a>
  </div>

  <ul class="tag-list simple-tag-list" x-cloak x-show="!collapsed">
    <% ai_tags.each do |ai_tag| %>
      <li class="flex items-center space-x-1 w-fit">
        <input type="checkbox" tabindex="-1">
        <span>
          <% t = ai_tag.is_aliased? ? ai_tag.aliased_tag : ai_tag.tag %>

          <%= link_to t.pretty_name, posts_path(tags: t.name), class: "search-tag tag-type-#{t.category}", "data-tag-name": t.name %>
          <%= tag.span "#{ai_tag.score}%", class: "text-muted text-xs" %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
