<div id="related-tags-container" class="visible">
  <h3>
    Related Tags
    <a href="#" id="show-related-tags-link">»</a>
    <a href="#" id="hide-related-tags-link">«</a>
  </h3>

  <%= render "related_tags/related_tags" %>
</div>
