<div class="current-related-tags-columns space-y-4 md:space-y-0 md:flex md:space-x-4">
  <% if related_tags&.query.present? %>
    <%= render "related_tags/tag_column", tags: related_tags.tags.map(&:name), class: "general-related-tags-column", title: related_tags.pretty_name %>
    <%= render "related_tags/tag_column", tags: related_tags.wiki_page_tags, class: "wiki-related-tags-column", title: link_to_wiki("wiki:#{related_tags.pretty_name}", related_tags.query, target: "_blank") %>

    <% related_tags.other_wiki_pages.each do |wiki| %>
      <%= render "related_tags/tag_column", tags: wiki.tags, class: "other-wiki-related-tags-column", title: link_to_wiki("wiki:#{wiki.pretty_title}", wiki.title, target: "_blank") %>
    <% end %>
  <% end %>
</div>
