<%# tags, title, class %>

<%= tag.div class: ["tag-column", local_assigns[:class], ("hidden" if tags.blank?)] do %>
  <% if tags.present? %>
    <% if title.present? %>
      <h3 class="ml-4"><%= title %></h3>
    <% end %>

    <%= render_related_tag_list(tags) %>
  <% end %>
<% end %>
