<%# tags, title, class %>

<% if tags.present? %>
  <%= tag.div class: ["tag-column", local_assigns[:class]] do %>
    <h3><%= title %></h3>
    <%= render_simple_tag_list(tags) %>
  <% end %>
<% end %>
