<% if SavedSearch.enabled? %>
  <div id="save-search-dialog" title="Save Search" style="display: none;">

    <%= simple_form_for(SavedSearch.new, remote: true) do |f| %>
      <%= f.input :query, as: :string, input_html: { value: params[:tags] } %>
      <%= f.input :label_string, label: "Labels", hint: "A list of tags to help categorize this search. Space delimited." %>
      <%= f.input :disable_labels, label: "Don't show this dialog again", as: :boolean %>
    <% end %>
  </div>
<% end %>
