<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "View posts", posts_path(:tags => "search:all") %></li>
    <li><%= link_to "Manage saved searches", saved_searches_path %></li>
  </menu>
<% end %>
