<table class="striped autofit">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Uses</th>
    </tr>
  </thead>
  <tbody>
    <% @ip_addresses.each do |ip| %>
      <tr>
        <td>
          <%= link_to ip.to_s, ip_addresses_path(search: { ip_addr: ip.to_s }) %>
          <%= link_to "»", ip_addresses_path(search: { ip_addr: ip.to_s, group_by: "user" }) %>
        </td>
        <td><%= link_to ip.count_all, ip_addresses_path(search: { ip_addr: ip.to_s }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
