<%= render "secondary_links" %>

<div id="c-ip-addresses">
  <div id="a-show">
    <h1>IP Address: <%= @ip_address.ip_addr %></h1>

    <%= render "info", ip_address: @ip_address, ip_info: @ip_info %>
  </div>
</div>
