<div id="c-super-voters">
  <div id="a-index">
    <h1>Anti Voters</h1>

    <ul>
      <% @anti_voters.each do |anti_voter| %>
        <li><%= link_to_if CurrentUser.user.is_janitor?, anti_voter.user.name, posts_path(tags: "upvote:#{anti_voter.user.name}") %></li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for(:page_title) do %>
  Anti Voters - <%= Danbooru.config.app_name %>
<% end %>
