<%= content_tag(:object, :width => post.image_width, :height => post.image_height) do %>
  <%= tag :params, :name => "movie", :value => post.tagged_file_url %>
  <%= tag :embed, :src => post.tagged_file_url, :width => post.image_width, :height => post.image_height, :allowScriptAccess => "never" %>
<% end %>

<p><%= link_to "Save this flash (right click and save)", post.tagged_file_url %></p>
