<% if (position == "bottom" && CurrentUser.user.new_post_navigation_layout) || (position == "top" && !CurrentUser.user.new_post_navigation_layout) %>
  <div id="nav-links" class="ui-corner-all nav-notice">
    <% if post.presenter.has_sequential_navigation?(params) %>
      <%= render "posts/partials/show/search_seq", :post => post %>
    <% end %>

    <% if post.pools.undeleted.any? %>
      <%= render "posts/partials/show/pools", :post => post %>
    <% end %>

    <% if post.favorite_groups(active_id=params[:favgroup_id]).any? %>
      <%= render "posts/partials/show/favorite_groups", :post => post %>
    <% end %>
  </div>
<% end %>
