<div id="nav-help" class="ui-corner-all nav-notice">
  <p class="hint">Press <span class="key">&larr;</span> or <span class="key">&rarr;</span> to navigate posts and <span class="key">space</span> to scroll <span class="close-button  ui-icon ui-icon-closethick" id="close-nav-help-link"></span></p>
</div>
