<% if (position == "bottom" && CurrentUser.user.new_post_navigation_layout) || (position == "top" && !CurrentUser.user.new_post_navigation_layout) %>
  <div id="nav-links" class="notice post-notice post-notice-search">
    <% if post.presenter.has_sequential_navigation?(params) %>
      <%= render "posts/partials/show/search_seq", :post => post %>
    <% end %>

    <% if post.pools.undeleted.present? %>
      <%= render "posts/partials/show/pool_list", post: post, pools: post.pools.undeleted %>
    <% end %>

    <% if CurrentUser.user.favorite_groups.for_post(post.id).present? %>
      <%= render "posts/partials/show/favorite_groups", post: post, favgroups: CurrentUser.user.favorite_groups.for_post(post.id).order(name: :asc) %>
    <% end %>
  </div>
<% end %>
