<% if (position == "bottom" && CurrentUser.user.new_post_navigation_layout) || (position == "top" && !CurrentUser.user.new_post_navigation_layout) %>
  <div id="nav-links" class="ui-corner-all nav-notice">
    <% if params[:tags].present? && params[:tags] !~ /order:/ %>
      <%= render "posts/partials/show/search_seq", :post => post %>
    <% end %>

    <% if post.pools.active.any? %>
      <%= render "posts/partials/show/pools", :post => post %>
    <% end %>
    
    <p id="keyboard-shortcuts-link"><%= link_to "Keyboard shortcuts available", keyboard_shortcuts_path %></p>
  </div>
<% end %>
