<div id="nav-help" class="ui-corner-all nav-notice">
  <p class="hint">Press <span class="key">&larr;</span> or <span class="key">&rarr;</span> to navigate posts and <span class="key">space</span> to scroll [<%= link_to "close", "#", :id => "close-nav-help-link" %>]</p>
</div>
