<ul>
  <% post.pools.each do |pool| %>
    <li>
      <% if pool.neighbors(post).previous %>
        <%= link_to "&laquo;".html_safe, post_path(pool.neighbors(post).previous) %>
      <% else %>
        &laquo;
      <% end %>
      <% if pool.neighbors(post).next %>
        <%= link_to "&raquo;".html_safe, post_path(pool.neighbors(post).next) %>
      <% else %>
        &raquo;
      <% end %>
      <%= link_to pool.pretty_name, pool_path(pool) %>
    </li>
  <% end %>
</ul>