<ul>
  <% post.pools.each do |pool| %>
    <li>
      <% if pool.neighbor_posts(post)[:previous] %>
        <%= link_to "&laquo;".html_safe, post_path(pool.neighbor_posts(post)[:previous]) %>
      <% else %>
        &laquo;
      <% end %>
      <% if pool.neighbor_posts(post)[:next] %>
        <%= link_to "&raquo;".html_safe, post_path(pool.neighbor_posts(post)[:next]) %>
      <% else %>
        &raquo;
      <% end %>
      <%= link_to pool.name, pool_path(pool) %>
    </li>
  <% end %>
</ul>