<div id="search-seq-nav">
  <ul>
    <li data-selected="true">
      <%= link_to "&lsaquo;&thinsp;prev".html_safe, show_seq_post_path(post, q: params[:q], seq: "prev"), rel: "prev", class: "prev" %>
      <span class="search-name">Search: <%= params[:q].presence || "status:any" %></span>
      <%= link_to "next&thinsp;&rsaquo;".html_safe, show_seq_post_path(post, q: params[:q], seq: "next"), rel: "next", class: "next" %>
    </li>
  </ul>
</div>
