<div id="search-seq-nav" class="ui-corner-all nav-notice">
  <ul>
    <li class="active">
      <%= link_to "&laquo;prev".html_safe, show_seq_post_path(post, :tags => params[:tags], :seq => "prev"), :rel => "prev" %>
      <span class="search-name">Search: <%= params[:tags] %></span>
      <%= link_to "next&raquo;".html_safe, show_seq_post_path(post, :tags => params[:tags], :seq => "next"), :rel => "next" %>
    </li>
  </ul>
</div>
