<div style="height: 25em;">
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_tumblr"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar": false, "pubid": "<%= Danbooru.config.addthis_key %>"};
    var addthis_share = {
      "url":"<%= j post_url(post, :only_path => false, :host => Danbooru.config.hostname) %>",
      "title": "<%= '#r_18 ' unless post.rating == 's' %><%= escape_javascript post.presenter.humanized_essential_tag_string.html_safe %>"
    };
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>

  <!-- AddThis Button END -->
</div>

