<div style="height: 25em;">
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar": false};
    var addthis_share = {
      "url":"<%= j post_path(post, :only_path => false, :host => Danbooru.config.hostname) %>",
      "title": "<%= j post.presenter.humanized_essential_tag_string %>"
    };
  </script>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f8dbf8a41066ac7"></script>

  <!-- AddThis Button END -->
</div>

