<% if Danbooru.config.addthis_key %>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_reddit"></a>
  <a class="addthis_button_tumblr"></a>
  <a class="addthis_button_compact"></a>
</div>

<script type="text/javascript">
  window.addthis_config = {"data_track_addressbar": false, "pubid": "<%= Danbooru.config.addthis_key %>"};
  window.addthis_share = {
    "url":"<%= j post_url(post) %>",
    "title": "<%= escape_javascript post.presenter.humanized_essential_tag_string.html_safe %> on <%= Danbooru.config.app_name %>"
  };
  $(function() {
  	addthis.init();
  });
</script>

<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#async=1"></script>

<% end %>
