<div style="margin-bottom: 5em; overflow: hidden;">
  <div style="float: left;">
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= post.essential_tag_string %>" data-count="none" data-hashtags="danbooru">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div style="float: left; margin-left: 0.5em;">
    <!-- Facebook -->
    <a name="fb_share"></a> 
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
    </script>
  </div>
  
  <div style="float: left; margin-left: 0.5em;">
    <!-- Tumblr -->
    <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
  </div>
  
  <div style="float: left; margin-left: 0.5em">
    <!-- StumbleUpon -->
    <!-- Place this tag where you want the su badge to render -->
    <su:badge layout="3"></su:badge>

    <!-- Place this snippet wherever appropriate --> 
     <script type="text/javascript"> 
     (function() { 
         var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true; 
         li.src = window.location.protocol + '//platform.stumbleupon.com/1/widgets.js'; 
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s); 
     })(); 
     </script>
  </div>
</div>