<%= content_tag(:video, nil, :width => post.image_width, :height => post.image_height, :autoplay => true, :loop => true, :src => post.file_url) %>

<p><%= link_to "Save this video (right click and save)", post.large_file_url %></p>
