<div class="notice notice-error notice-large" id="ban-notice">
  <h2>Your account has been temporarily banned</h2>
  <div>Reason: <span class="prose"><%= format_text CurrentUser.user.recent_ban.reason, inline: true %></span></div>
  <div>Your ban will expire in <%= time_ago_in_words(CurrentUser.user.recent_ban.expires_at) %></div>
</div>
