<div class="login-header">
  <% if CurrentUser.is_anonymous? %>
    <% form_tag(session_path) do %>
      <span class="notice">You are not logged in.</span>

      <%= label_tag :name %>
      <%= text_field_tag :name %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>
    <% end %>
  <% else %>
    <%#= nav_link_to("My Account", user_path(CurrentUser.user)) %>
  <% end %>
</div>
