<% if presenter.has_uploads? %>
  <div class="user-uploads recent-posts">
    <h2 class="recent-posts-header">
      <%= link_to "Uploads", posts_path(tags: "user:#{user.name}") %>
    </h2>
    <div class="recent-posts-previews">
      <%= post_previews_html(presenter.uploads, tags: "user:#{user.name}") %>
    </div>
  </div>
<% end %>

<% if presenter.has_favorites? && policy(user).can_see_favorites? %>
  <div class="user-favorites recent-posts">
    <h2 class="recent-posts-header">
      <%= link_to "Favorites", posts_path(tags: "ordfav:#{user.name}") %>
    </h2>
    <div class="recent-posts-previews">
      <%= post_previews_html(presenter.favorites, tags: "ordfav:#{user.name}") %>
    </div>
  </div>
<% end %>
