<% if presenter.has_uploads? %>
  <div class="user-uploads recent-posts">
    <h2 class="recent-posts-header">
      <%= link_to "Uploads", posts_path(tags: "user:#{user.name}") %>
    </h2>
    <%= render_post_gallery(presenter.uploads, tags: "user:#{user.name}", show_deleted: true, show_votes: true) %>
  </div>
<% end %>

<% if presenter.has_favorites? %>
  <div class="user-favorites recent-posts">
    <h2 class="recent-posts-header">
      <%= link_to "Favorites", posts_path(tags: "ordfav:#{user.name}") %>
    </h2>
    <%= render_post_gallery(presenter.favorites, tags: "ordfav:#{user.name}", show_deleted: true, show_votes: true) %>
  </div>
<% end %>
