<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", users_path %></li>
    <% unless CurrentUser.is_anonymous? %>
      <li>|</li>
      <li><%= link_to "Settings", edit_user_path(CurrentUser.user) %></li>
      <li><%= link_to "Profile", user_path(CurrentUser.user) %></li>
      <li>|</li>
      <li><%= link_to "Sign out", session_path, :method => :delete %></li>
    <% end %>
  </menu>
<% end %>
