<div class="ui-corner-all ui-state-highlight" id="sign-up-notice">
  <h1>Like the site? <%= link_to "Sign up for a free basic account!", new_user_path, id: "sign-up-link" %></h1>
  <p><%= link_to "No thanks", "#", :id => "hide-sign-up-notice" %></p>
</div>

<% content_for(:html_header) do %>
  <script>
    $(function() {
      $("#sign-up-link").click(function() {
        window._paq = window._paq || [];
        window._paq.push(['trackEvent', 'accounts', 'clickedSignUpLink']);
      });
      $("#hide-sign-up-notice").click(function() {
        window._paq = window._paq || [];
        window._paq.push(['trackEvent', 'accounts', 'clickedHideSignUpLink']);
      });
    });
  </script>
<% end %>
