<% if user.present? && CurrentUser.user.is_moderator? && user.level < User::Levels::MODERATOR %>
  <% sockpuppet_accounts = user.sockpuppet_accounts %>

  <% if sockpuppet_accounts.present? %>
    <div class="flex flex-wrap sm:flex-col items-center gap-2 mb-2">
      <strong>Other Accounts</strong>

      <% sockpuppet_accounts.map(&:values).each do |(user, session_ids, ip_addresses)| %>
        <% if session_ids.present? %>
          <%= link_to user.name, user_events_path(search: { session_id: session_ids.join(" ") }), class: "inline-block chip-primary text-sm truncate" %>
        <% else %>
          <%= link_to user.name, user_events_path(search: { ip_addr: ip_addresses.join(" ") }), class: "inline-block chip-primary text-sm truncate" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
