<div class="ui-corner-all ui-state-highlight" id="tos-notice">
  <h1><%= link_to "Read the rules before proceeding!", terms_of_service_path(:url => request.fullpath), :rel => "nofollow" %></h1>
</div>
