<div class="notice notice-info notice-large" id="upgrade-account-notice">
  <h2><%= link_to "Upgrade your account for only $20!", new_user_upgrade_path, id: "goto-upgrade-account" %></h2>
  <div><%= link_to "No thanks", "#", id: "hide-upgrade-account-notice" %></div>
</div>
