<div class="ui-corner-all ui-state-highlight" id="upgrade-account-notice">
  <h1><%= link_to "Upgrade your account for only $20!", new_user_upgrade_path, id: "goto-upgrade-account" %></h1>
  <p><%= link_to "No thanks", "#", :id => "hide-upgrade-account-notice" %></p>
</div>
