<nav>
  <ul>
    <li><%= link_to "Settings", edit_user_path(@user) %></li>
    <li><%= link_to "Log out", session_path(0), :method => :delete %></li>
  </ul>
</nav>

<% content_for(:page_title) do %>
  users/<%= @user.name %>
<% end %>

<% content_for(:page_header) do %>
  / <%= @user.name %>
<% end %>
