<div id="c-users">
  <div id="a-upgrade-information">
    <h1>Upgrade Your Account</h1>

    <p>Upgrades are currently not available.</p>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Upgrade - <%= Danbooru.config.app_name %>
<% end %>
