<h2>Uploads</h2>

<table class="striped w-full">
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.posts.each do |user, count| %>
      <tr>
        <td><%= link_to_user(user) %></td>
        <td><%= link_to count, posts_path(tags: "user:#{user.name}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
