<h2>Note Updates</h2>

<table class="striped w-full">
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.notes.each do |user, count| %>
      <tr>
        <td><%= link_to_user(user) %></td>
        <td><%= link_to count, note_versions_path(search: { updater_id: user.id }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
