<% if NewsUpdate.recent.present? %>
  <div id="news-updates" data-id="<%= NewsUpdate.recent.first.try(:id) %>" style="display: none;">
    <ul>
      <% NewsUpdate.recent.each do |news_update| %>
        <li><%= news_update.created_at.strftime("%b %d") %>: <%= news_update.message.html_safe %></li>
      <% end %>
    </ul>

    <a href="#" id="close-news-ticker-link">close</a>
  </div>
<% end %>
