<div id="c-bans">
  <div id="a-edit">
    <h1>Edit Ban</h1>
    <%= render "form", :ban => @ban %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Ban - <%= Danbooru.config.app_name %>
<% end %>
