<div class="c-bans">
  <div class="a-new">
    <% if @ban.user.present? %>
      <h1 class="mb-2">Ban: <%= link_to_user @ban.user %></h1>
    <% else %>
      <h1 class="mb-2">New Ban</h1>
    <% end %>

    <%= render "users/sockpuppets", user: @ban.user %>

    <%= render "form", :ban => @ban %>
  </div>
</div>

<%= render "secondary_links" %>
