<div class="bans">
  <div class="show">
    <h1>Show Ban</h1>
    <ul>
      <li><strong>User</strong>: <%= @ban.user_name %></li>
      <li><strong>Expires</strong>: <%= @ban.expires_at %></li>
      <li><strong>Reason</strong>: <%= @ban.reason %></li>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>
