<% content_for(:secondary_nav_links) do %>
  <menu id="secondary-links">
    <li><%= link_to "Listing", advertisements_path %></li>
    <li><%= link_to "New", new_advertisement_path %></li>
    <% if @advertisement && !@advertisement.new_record? %>
      <li>|</li>
      <li><%= link_to "Edit", edit_advertisement_path(@advertisement) %></li>
      <li><%= link_to "Show", advertisement_path(@advertisement) %></li>
    <% end %>
  </menu>
<% end %>
