<div id="c-advertisements">
  <div id="a-new">
    <h1>New Advertisement</h1>
    <%= error_messages_for :advertisement %>
    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Advertisement - <%= Danbooru.config.app_name %>
<% end %>
