<div id="c-advertisements">
  <div id="a-show">
    <h1>Show Advertisement</h1>

    <%= image_tag(@advertisement.image_url, :width => @advertisement.preview_width, :height => @advertisement.preview_height) %>

    <ul>
      <li>Hits: <%= @advertisement.hits.between(@start_date, @end_date).count %></li>
    </ul>
  </div>
</div>


<%= render "secondary_links" %>
