<div id="c-post-versions">
  <div id="a-index">
    <% if @post_versions.empty? %>
      <%= render "post_sets/blank" %>
    <% else %>
      <%= render"listing", :post_versions => @post_versions %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Post Versions - <%= Danbooru.config.app_name %>
<% end %>
