<p>
  As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. 
</p>

<p>The <%= link_to_wikis(*Danbooru.config.modqueue_warning_tags) %> tags are highlighted in red.</p>
