<p>
  As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. 
</p>

<p>
  Posts with score -3 or lower are marked red.
  Posts with score 3 or higher are marked green. 
</p>
<p>Posts with the <%= link_to_wikis(*Danbooru.config.modqueue_quality_warning_tags) %> tags are marked in yellow.</p>
<p>Posts with the <%= link_to_wikis(*Danbooru.config.modqueue_sample_warning_tags) %> tags are marked in light red.</p>
