<ul>
  <% tags.each do |tag| %>
    <li>
      <%= link_to "?", wiki_page_path(tag.name), class: tag_class(tag) %>
      <%= link_to tag.pretty_name, current_page_path(search: search_params.merge(tags: tag.name)), class: tag_class(tag) %>
      <span class="post-count"><%= tag.overlap_count %></span>
    </li>
  <% end %>
</ul>
