<% unless cookies["news-ticker"] == "2011-09-01" %>
  <div id="news-ticker" data-updated-at="2011-09-01">
    <ul>
      <li>10/22: Database has been reset</li>
      <li>Report issues on <a href="https://github.com/r888888888/danbooru/issues/new">Github</a> or the <a href="http://danbooru.donmai.us/forum/show/65870">forum</a></li>
    </ul>
  
    <a href="#" id="close-news-ticker-link">close</a>
  </div>
<% end %>