<div id="news-ticker" data-updated-at="2011-09-01">
  <ul>
    <li>Report issues on <a href="https://github.com/r888888888/danbooru/issues/new">Github</a></li>
  </ul>
  
  <a href="#" id="close-news-ticker-link">close</a>
</div>
