<% if @download.matches.any? %>
  <h3>Similar</h3>
  <% @download.matches.each do |match| %>
    <%= PostPresenter.preview(Post.find(match.post_id)) %>
  <% end %>
<% else %>
  <h3>Similar</h3>
  <p>No matches found</p>
<% end %>
