<!-- 
- wiki_page
- tag
 -->

<div id="wiki-page-excerpt">
  <span class="ui-icon ui-icon-closethick" id="close-wiki-page-excerpt"></span>
  <h1>Wiki</h1>

  <% if wiki_page %>
    <div id="wiki-page-excerpt" class="prose">
      <%= format_text(wiki_page.presenter.excerpt) %>

      <p>Read the <%= link_to "full article", wiki_page_path(wiki_page.id) %>.</p>
    </div>
  <% else %>
    <p>There is currently no wiki page for the tag "<%= tag %>". You can <%= link_to "create one", new_wiki_page_path(:wiki_page => {:title => tag}) %>.</p>
  <% end %>
</div>
