<% if wiki_page.tag.present? && !wiki_page.tag.empty? %>
  <div class="recent-posts mt-4">
    <h2 class="recent-posts-header">
      <%= link_to "Posts", posts_path(tags: wiki_page.title) %>
    </h2>

    <%= render_post_gallery(PostQuery.new(wiki_page.tag.name).paginated_posts(1, count: wiki_page.tag.post_count, limit: 8), tags: wiki_page.title) %>
  </div>
<% end %>
