<aside id="sidebar">
  <section>
    <h1>Search</h1>
    <%= form_tag(wiki_pages_path, :method => :get) do %>
      <%= text_field_tag "title", params[:title], :size => 20 %>
    <% end %>
  </section>

  <%= render "wiki_pages/recent_changes" %>
</aside>
