<%= render "sidebar" %>

<% content_for(:content) do %>
  <h1>Edit Wiki</h1>

  <% if @wiki_page.visible? %>
    <%= render "form" %>
  <% else %>
    <p>The artist requested removal of this page.</p>
  <% end %>
<% end %>

<%= render "secondary_links" %>
