<div id="c-wiki-pages">
  <div id="a-edit">
    <%= render "sidebar" %>
    
    <section id="content">
      <h1>Edit Wiki Page: <%= @wiki_page.title %></h1>
      <%= render "form" %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>    
