<div id="c-wiki-pages">
  <div id="a-edit">
    <%= render "sidebar" %>

    <section id="content">
      <h1>Edit Wiki</h1>

      <% if @wiki_page.visible? %>
        <%= render "form" %>
      <% else %>
        <p>The artist requested removal of this page.</p>
      <% end %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>
