<div id="c-wiki-pages">
  <div id="a-edit">
    <%= render "sidebar" %>
    
    <section id="content">
      <h1>Edit Wiki</h1>
      <%= render "form" %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>    

<% content_for(:page_title) do %>
  Edit Wiki Page - <%= Danbooru.config.app_name %>
<% end %>
