<div id="c-wiki-pages">
  <div id="a-new">
    <%= render "sidebar" %>
    
    <section id="content">
      <h1>New Wiki Page</h1>
      <%= render "form" %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>
