<h1>I Forgot My Password</h1>

<p>If you supplied an email address when signing up, <%= Danbooru.config.app_name %> can reset your password and email you the new one. You are strongly advised to change your password once you log on again.</p>

<p>If you didn't supply a valid email address, you are out of luck.</p>
