<div class="section">
  <p>You can pay with a credit or debit card on <%= link_to "Safebooru", new_user_upgrade_url(domain: "safebooru.donmai.us", protocol: "https") %>. Your account will then also be upgraded on Danbooru. You can login to Safebooru with the same username and password you use on Danbooru.</p>
</div>
