<div class="section">
  <p>You can pay with a credit or debit card. Safebooru uses <a href="https://www.stripe.com">Stripe</a> as a payment intermediary so none of your personal information will be stored on the site.</p>

  <% if user.level < User::Levels::GOLD %>
    <%= stripe_button("Upgrade to Gold", UserUpgrade.gold_price, user) %>
    <%= stripe_button("Upgrade to Platinum", UserUpgrade.platinum_price, user) %>
  <% elsif user.level < User::Levels::PLATINUM %>
    <%= stripe_button("Upgrade Gold to Platinum", UserUpgrade.upgrade_price, user) %>
  <% end %>
</div>
