.media-asset-gallery {
  .media-assets-container {
    gap: 0.5rem;
  }

  @media screen and (min-width: 660px) {
    &.media-asset-gallery-150 .post-preview-container { height: 150px; }
    &.media-asset-gallery-180 .post-preview-container { height: 180px; }
    &.media-asset-gallery-225 .post-preview-container { height: 225px; }
    &.media-asset-gallery-270 .post-preview-container { height: 270px; }
    &.media-asset-gallery-360 .post-preview-container { height: 360px; }
    &.media-asset-gallery-540 .post-preview-container { height: 540px; }
    &.media-asset-gallery-720 .post-preview-container { height: 720px; }
  }

  &.media-asset-gallery-150  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
  &.media-asset-gallery-180  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); }
  &.media-asset-gallery-225  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); }
  &.media-asset-gallery-270  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); }
  &.media-asset-gallery-360  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); }
  &.media-asset-gallery-540  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(540px, 1fr)); }
  &.media-asset-gallery-720  .media-assets-container { grid-template-columns: repeat(auto-fill, minmax(720px, 1fr)); }

  @media screen and (max-width: 660px) {
    .media-assets-container {
      gap: 0.25rem;
    }

    &.media-asset-gallery-150  .media-assets-container { grid-template-columns: repeat(3, minmax(0, 150px)); }
    &.media-asset-gallery-180  .media-assets-container { grid-template-columns: repeat(2, auto); }
    &.media-asset-gallery-225  .media-assets-container { grid-template-columns: repeat(2, auto); }
    &.media-asset-gallery-270  .media-assets-container { grid-template-columns: repeat(2, auto); }
    &.media-asset-gallery-360  .media-assets-container { grid-template-columns: repeat(1, auto); }
    &.media-asset-gallery-540  .media-assets-container { grid-template-columns: repeat(1, auto); }
    &.media-asset-gallery-720  .media-assets-container { grid-template-columns: repeat(1, auto); }
  }
}
