<% page_title "Missed Searches" %>
<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-missed-searches">
    <h1>Missed Searches</h1>
    <p>Over the past seven days.</p>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th width="80%">Tags</th>
          <th width="10%">Wiki</th>
          <th width="10%" style="text-align: right;">Count</th>
        </tr>
      </thead>
      <tbody>
        <% @missed_searches.each do |tags, count| %>
          <tr class="tag-type-<%= Tag.category_for(tags) %>">
            <td><%= link_to tags, posts_path(:tags => tags) %></td>
            <td>
              <% unless WikiPage.titled(tags).exists? %>
                N
              <% end %>
            </td>
            <td style="text-align: right;"><%= count.to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
