<div id="c-dmails">
  <div id="a-edit">
    <h1>Edit Message</h1>
    <%= render "form", :dmail => @dmail %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Message - <%= Danbooru.config.app_name %>
<% end %>
