<div id="c-dmails">
  <div id="a-index">
    <h1>Messages</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Subject</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @dmails.each do |dmail| %>
          <% if params[:folder] == "sent" %>
            <%= render "sent", :dmail => dmail %>
          <% else %>
            <%= render "received", :dmail => dmail %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>