<h1>Messages</h1>

<%= render "search" %>

<table>
  <tbody>
    <% @dmails.each do |dmail| %>
      <% if params[:folder] == "sent" %>
        <%= render "sent", :locals => {:dmail => dmail} %>
      <% else %>
        <%= render "received", :locals => {:dmail => dmail} %>
      <% end %>
    <% end %>
  </tbody>
</table>
