<h1>Ban Post</h1>

<div>
  <%= PostPresenter.preview(@post, show_deleted: true) %>
</div>

<%= form_tag(ban_moderator_post_post_path(@post), :style => "clear: both;", :class => "simple_form") do %>
  <p>Banning a post will hide it from anyone without a gold level account or higher. You should only ban a post if an artist requested it.</p>

  <%= submit_tag "Ban" %>
  <%= submit_tag "Cancel" %>
<% end %>
