<div id="detailed-rejection-dialog" title="Detailed Rejection" style="display: none;">
  <p>You can supply a short message to the uploader explaining why you rejected this upload.</p>

  <%= edit_form_for(PostDisapproval.new, url: post_disapprovals_path, remote: true, html: { id: "detailed-rejection-form" }) do |f| %>
    <%= f.hidden_field :post_id, value: "x" %>
    <%= f.input :reason, collection: PostDisapproval::REASONS.map { |x| [x.humanize, x] } %>
    <%= f.input :message, as: :string %>
  <% end %>
</div>
