<% media_asset = upload_media_asset.media_asset %>

<%= render MediaAssetPreviewComponent.new(media_asset: media_asset, size: size, link_target: [upload_media_asset.upload, upload_media_asset], classes: ["upload-media-asset-preview", ("upload-media-asset-loading" if upload_media_asset.loading?)], html: { "data-id": upload_media_asset.id }) do |preview| %>
  <% preview.missing_image do %>
    <% if upload_media_asset.failed? %>
      Failed
    <% else %>
      Loading
    <% end %>
  <% end %>

  <% preview.footer do %>
    <div class="text-center text-xs h-8">
      <% if upload_media_asset.post.present? %>
        <div class="leading-none">
          <%= link_to "post ##{upload_media_asset.post.id}", upload_media_asset.post, class: "leading-none" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
