<div id="c-upload-media-assets">
  <div id="a-index">
    <div class="flex items-center mb-2">
      <h1 class="flex-1">My Uploads</h1>

      <span>
        <strong>Gallery</strong> |
        <%= link_to "Table", user_uploads_path(CurrentUser.user.id.to_i, mode: "table") %>
      </span>
    </div>

    <%= render "upload_media_assets/gallery", upload_media_assets: @upload_media_assets %>

    <%= numbered_paginator(@upload_media_assets) %>
  </div>
</div>
