<div id="c-uploads">
  <div id="a-show">
    <h1>Upload</h1>

    <%= render "uploads/single_asset_upload", upload_media_asset: @upload_media_asset %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
