<div id="c-uploads" class="h-full">
  <div id="a-show" class="h-full">
    <%= render UploadPostComponent.new(
      upload_media_asset: @upload_media_asset,
      post: @post,
      current_user: CurrentUser.user,
      upload_edit_panel_dock: cookies[:upload_edit_panel_dock],
      upload_edit_container_width: cookies[:upload_edit_container_width],
    ) %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
