<div id="c-uploads" class="h-full">
  <div id="a-show" class="h-full">
    <div id="p-single-asset-upload" class="h-full">
      <%= render "uploads/single_asset_upload", upload_media_asset: @upload_media_asset, post: @post %>
    </div>
  </div>
</div>

<%= render "uploads/secondary_links" %>
