.ui-autocomplete {
  font-size: 0.9em;

  .ui-state-active {
    border: none;
    margin: 0 -1px;
    background-color: var(--autocomplete-background-color);
    border-left: 1px solid var(--autocomplete-border-color);
    border-right: 1px solid var(--autocomplete-border-color);
  }

  .ui-menu-item-wrapper {
    padding: 3px .5em 3px .4em;

    a {
      margin-right: 1em;
    }
  }

  .autocomplete-arrow {
    color: black;
  }
}
