.ui-autocomplete.ui-widget {
  font-size: 0.9em;
  border: var(--autocomplete-border);

  .ui-state-active {
    border: none;
    margin: 0 -1px;
    background-color: var(--autocomplete-selected-background-color);
    border-left: var(--autocomplete-border);
    border-right: var(--autocomplete-border);
  }

  .ui-menu-item-wrapper {
    padding: 3px 0.5em 3px 0.4em;

    a {
      margin-right: 1em;
    }
  }

  .autocomplete-arrow {
    color: var(--autocomplete-arrow-color);
  }
}
