@import "../base/000_vars.scss";

.ui-autocomplete {
  font-size: 0.9em;

  .ui-state-active {
    border: none;
    margin: 0 -1px;
    background-color: #F0F0F0;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
  }

  .ui-menu-item-wrapper {
    padding: 3px .5em 3px .4em;

    a {
      margin-right: 1em;
    }
  }

  .autocomplete-arrow {
    color: black;
  }
}
