a.button {
  display: inline-block;
  padding: 0.75em 1em;
  font-size: 0.9em;
  border-radius: 5px;

  &.button-small {
    font-size: 0.85em;
    padding: 0.5em;
  }

  &.button-large {
    font-size: 0.95em;
    padding: 0.75em 1.5em;
  }

  &.button-primary {
    background-color: var(--primary-button-color);
    color: var(--button-text-color);

    &:hover {
      background-color: var(--primary-button-hover-color);
    }
  }

  &.button-secondary {
    background-color: var(--secondary-button-color);
    color: var(--button-text-color);

    &:hover {
      background-color: var(--secondary-button-hover-color);
    }
  }

  &.button-outline-primary {
    border: 2px solid var(--primary-button-color);
    color: var(--primary-button-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &:hover {
      border: 2px solid transparent;
      background-color: var(--primary-button-color);
      color: var(--button-text-color);
    }
  }

  &.button-outline-secondary {
    border: 2px solid var(--secondary-button-color);
    color: var(--secondary-button-color);

    &:hover {
      border: 2px solid var(--secondary-button-hover-color);
      color: var(--secondary-button-hover-color);
    }
  }
}
