.diff-list {
  .added, .added a {
    color: green;
    text-decoration: none;
    margin-right: 0.5em;
  }

  .added.obsolete, .added.obsolete a {
    color: darkGreen;
  }

  .removed, .removed a {
    color: red;
    text-decoration: line-through;
    margin-right: 0.5em;
  }

  .removed.obsolete, .removed.obsolete a {
    color: darkRed;
  }
}
