@import "000_vars.scss";

span.error {
  display: block;
  font-weight: bold;
  color: red;
}

span.link {
  color: $link_color;
  cursor: pointer;
}

span.wait {
  color: #CCC;
}

span.count {
  color: #CCC;
  margin-left: 0.5em;
}

span.edit-options {
}

kbd.key {
  background: #333;
  border: 1px solid #333;
  padding: 1px 6px;
  color: white;
/*  width: 1em;*/
  text-align: center;
  @include inline-block;
  @include border-radius(3px);
}

span.inactive {
  color: #AAA;
}

td a.last-page {
  color: #666;
}
