span.error {
  display: block;
  font-weight: bold;
  color: var(--error-color);
}

span.link {
  color: var(--link-color);
  cursor: pointer;
}

span.count {
  color: var(--tag-count-color);
  margin-left: 0.5em;
}

kbd.key {
  background: var(--keyboard-shortcut-background-color);
  border: 1px solid var(--keyboard-shortcut-background-color);
  padding: 1px 6px;
  color: var(--keyboard-shortcut-color);
/*  width: 1em;*/
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

span.inactive {
  color: var(--inactive-color);
}

td a.last-page {
  color: var(--last-page-link-color);
}
