div#news-updates {
  padding: 5px;
  background: var(--news-updates-background);
  border-bottom: var(--news-updates-border);
  overflow: hidden;
  font-size: 0.8em;

  ul {
    float: left;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    float: left;
    margin: 0 2em 0 0;
    padding: 0;
  }

  a#close-news-ticker-link {
    float: right;
  }
}
