div.error-messages {
  margin: 1em 0;
  padding: 1em;

  h1 {
    font-size: 1em;
    color: #A00;
  }
}

div#notice {
  padding: 0.25em;
  position: fixed;
  top: 0.5em;
  left: 25%;
  width: 50%;
  z-index: 100;

  &:not(.ui-state-error) {
    background-color: #FFFBBF;
    border: 1px solid #CCC999;
  }
}

a#close-notice-link {
  position: absolute;
  right: 1em;
}
