div.error-messages {
  margin: 1em 0;
  padding: 1em;

  h1 {
    font-size: 1em;
    color: var(--error-message-color);
  }
}

div#notice {
  padding: 0.25em;
  position: fixed;
  top: 0.5em;
  left: 25%;
  width: 50%;
  z-index: 100;

  &:not(.ui-state-error) {
    background: var(--notice-background);
    border: var(--notice-border);
    color: var(--notice-text-color);
  }
}

a#close-notice-link {
  position: absolute;
  right: 1em;
}
