div.error-messages {
  margin: 1em 0;
  padding: 1em;

  h1 {
    font-size: 1em;
    color: var(--error-message-color);
  }
}

div#notice {
  padding: 0.5em;
  position: fixed;
  top: 1em;
  left: 25%;
  width: 50%;
  z-index: 9999;

  a#close-notice-link {
    position: absolute;
    right: 1em;
  }
}

.notice {
  border-radius: 3px;
}

.notice-small {
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}

.notice-large {
  margin: 1em 0;
  padding: 1em;
  text-align: center;
  position: relative;
}

.notice-info {
  background: var(--notice-info-background);
  border: var(--notice-info-border);
}

.notice-error {
  background: var(--notice-error-background);
  border: var(--notice-error-border);
}
