#maintoggle {
  display: none;
}

header#top {
  h1 {
    font-size: 2.5em;
    margin: 0px 30px;
  }

  menu {
    margin-top: -2px;
    background: var(--subnav-menu-background-color);
    padding: 6px 20px;

    form {
      display: inline-block;

      input {
        width: 9.5em;
      }
    }

    li {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }

    li a {
      padding: 6px 10px;
    }
  }

  menu.main {
    margin-top: 0;
    background: none;

    li.current a {
      background: var(--subnav-menu-background-color);
      font-weight: bold;
    }

    li#nav-sign-in a {
      font-weight: bold;
      color: var(--sign-in-link-color);
    }

    li.forum-updated a {
      font-style: italic;
    }
  }
}
