@import "../base/000_vars.scss";

#maintoggle {
  display: none;
}

header#top {
  h1 {
    font-size: 2.5em;
    margin: 5px 30px 0 30px;
  }

  menu {
    margin-top: -2px;
    background: $menu_color;
    padding: 6px 20px;

    form {
      display: inline-block;

      input {
        width: 9.5em;
      }
    }

    li {
      margin: 0;
      padding: 0;
    }

    li a {
      padding: 6px 10px;
    }
  }

  menu.main {
    margin-top: 0;
    background: none;

    li.current a {
      background: $menu_color;
      font-weight: bold;
    }
  }
}
