div.paginator {
  display: block;
  padding: 2em 0 1em 0;
  text-align: center;
  clear: both;

  li {
    a {
      margin: 0 0.25em;
      padding: 0.25em 0.75em;
    }

    &.more {
      color: var(--paginator-ellipsis-color);
    }

    a.arrow:hover {
      background: var(--paginator-arrow-background-color);
      color: var(--paginator-arrow-color);
    }

    a:hover {
      background: var(--paginator-arrow-color);
      color: var(--paginator-arrow-background-color);
    }

    span {
      margin: 0 0.25em;
      padding: 0.25em 0.75em;
      font-weight: bold;
    }
  }
}
