table.striped {
  td, th {
    padding: 4px 6px;
  }

  tbody {
    tr {
      border-bottom: var(--table-row-border);

      &:hover {
        background: var(--table-row-hover-background);
      }
    }
  }

  .number, .links {
    text-align: right;
  }

  thead {
    tr {
      border-bottom: var(--table-header-border);
    }

    th {
      font-weight: bold;
      text-align: left;
    }
  }

  tr:nth-child(even) {
    background: var(--table-even-row-background);
  }
}

/*
 * A table where one column expands to fill the screen, while the
 * other columns shrink to fit their contents.
 */
table.autofit {
  td, th, .col-fit {
    white-space: nowrap;
    padding-right: 2em;
  }

  .col-expand {
    white-space: normal;
    width: 100%;
  }

  .col-normal {
    white-space: normal;
  }
}

table.search {
  tr {
    height: 2em;
  }

  th {
    text-align: right;
    padding-right: 1em;
    vertical-align: top;
  }

  td {
    vertical-align: top;
  }
}

table.aligned-vertical {
  @extend table.search;

  tr {
    height: 1.75em;
  }
}
