a.user-admin.with-style {
  color: var(--user-admin-color);
}

a.user-moderator.with-style {
  color: var(--user-moderator-color);
}

a.user-builder.with-style {
  color: var(--user-builder-color);
}

a.user-platinum.with-style {
  color: var(--user-platinum-color);
}

a.user-gold.with-style {
  color: var(--user-gold-color);
}

a.user-member.with-style {
  color: var(--user-member-color);
}
