<% page_title "Tag: #{@tag.pretty_name.titleize}" %>
<%= render "secondary_links" %>

<div id="c-tags">
  <div id="a-show">
    <h1>Tag: <%= @tag.name %></h1>

    <ul>
      <li>Count: <%= @tag.post_count %></li>
      <li>Category: <%= @tag.category_name %></li>
    </ul>
  </div>
</div>
