<h1><%= @ex.class.to_s %> exception raised</h1>
<ul style="font-family: monospace; font-size: 1.2em; list-style-type: none;">
  <li><%= @ex.message %></li>
  <%- @ex.backtrace.each do |b| -%>
    <li style="list-style-type: none;"><%= b %></li>
  <%- end -%>
</ul>
