<% page_title "Access Denied" %>

<h1>Access Denied</h1>

<p>
  You do not have permission to visit this page.

  <% if CurrentUser.is_anonymous? %>
    Try <%= link_to "logging in", login_path(url: request.fullpath) %> or
    <%= link_to "signing up", new_user_path %>.
  <% end %>
</p>

<%= link_to "Go back", :back, :rel => "prev" %>
