<div id="c-static">
  <div id="a-boomkarklet">
    <h1>Bookmarklet</h1>
    
    <p><%= link_to "Post to Danbooru", "javascript:location.href='http://#{Danbooru.config.hostname}/uploads/new?url='+encodeURIComponent(location.href)+'&ref='+encodeURIComponent(document.referrer)" %></p>
    
    <p>Bookmark this link. Next time you are directly viewing an image (that is, the JPG/PNG/GIF file is in the URL bar) you can open this bookmarklet and you will be taken to the upload page. Depending on the site you are uploading from you may also see some options for fetching metadata.</p>
  </div>
</div>

<% content_for(:page_title) do %>
  Bookmarklet - <%= Danbooru.config.app_name %>
<% end %>
