<div id="c-static">
  <div id="a-bookmarklet">
    <h1>Bookmarklet</h1>

    <p><%= link_to "Post to #{Danbooru.config.app_name}", "javascript:location.href='#{request.protocol + request.host_with_port}/uploads/new?url='+encodeURIComponent(location.href)+'&ref='+encodeURIComponent(document.referrer)" %></p>

    <p>Bookmark this link by dragging it to your browser's bookmarks toolbar.
    Next time you are directly viewing an image (that is, the JPG/PNG/GIF file
    is in the URL bar) use this bookmarklet to be taken to the upload page.</p>
    
    <p>The upload page will contain an image preview, along with the artist,
    translated tags, and commentary, and it will also run a dupe check
    automatically.</p>

    <p>The bookmarklet also works on the HTML page for most sites, including Pixiv,
    Nico Seiga, Twitter, DeviantArt, and others. Use the bookmarklet on the
    HTML page to have it automatically find and upload the best available image
    for you.</p>

    <p><%= link_to "Batch to #{Danbooru.config.app_name}", "javascript:location.href='#{request.protocol + request.host_with_port}/uploads/batch?url='+encodeURIComponent(location.href)" %></p>

    <p>Use this bookmarklet on the HTML page of Twitter, Pixiv, or ArtStation
    galleries. It will open a page containing every image in the gallery, ready
    for upload.</p>

    <p><strong>Note:</strong> If you use Firefox, the bookmarklet may not work
    on certain sites, including Twitter. You must install the
    <a href="https://addons.mozilla.org/en-US/firefox/addon/bookmarklets-context-menu/versions/1.1.3">Bookmarklets Context Menu (version 1.1.3)</a>
    addon in order to use the bookmarklet. Install version 1.1.3; version 1.1.4.1 does not work.
    </p>
  </div>
</div>

<% content_for(:page_title) do %>
  Bookmarklet - <%= Danbooru.config.app_name %>
<% end %>
