<% page_title "Error: #{@exception.class}" %>

<h1>Error</h1>

<% if @message.present? %>
  <p>Error: <%= @message %></p>
<% else %>
  <p>Unexpected error: <%= @exception.class %>.</p>

  <h3>Details</h3>

  <ul class="backtrace font-monospace p-4 mb-4">
    <li><%= @exception.class.to_s %> exception raised</li>

    <% Rails.backtrace_cleaner.clean(@backtrace).each do |b| %>
      <li class="backtrace-line"><%= b %></li>
    <% end %>
  </ul>
<% end %>
