<% page_title "Error: #{@message}" %>

<h1>Error</h1>
<p><%= @message %></p>

<% unless @expected %>
  <h3>Details</h3>
  <%= render "static/backtrace", exception: @exception, backtrace: @backtrace %>
<% end %>
