<% page_title "Keyboard Shortcuts" %>

<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>

    <div class="column-container">
      <section class="column column-shrink">
        <h2>Global</h2>
        <ul>
          <li><kbd class="key">q</kbd> Focus search box</li>
          <li><kbd class="key">w</kbd> Scroll up</li>
          <li><kbd class="key">s</kbd> Scroll down</li>
          <li><kbd class="key">a</kbd>, <kbd class="key">⇦</kbd> Previous page</li>
          <li><kbd class="key">d</kbd>, <kbd class="key">⇨</kbd> Next page</li>
          <li><kbd class="key">ctrl</kbd> + <kbd class="key">enter</kbd> Submit form</li>
        </ul>
      </section>

      <section class="column column-shrink">
        <h2>Posts</h2>
        <ul>
          <li><kbd class="key">r</kbd> Go to random post</li>
          <li><kbd class="key">1</kbd>, <kbd class="key">2</kbd>, <kbd class="key">3</kbd>... Switch tag script</li>
        </ul>

        <h2>Post</h2>
        <ul>
          <li><kbd class="key">n</kbd> New note</li>
          <li><kbd class="key">e</kbd> Edit tags</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">e</kbd> Edit tags in dialog window</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">o</kbd> Approve post</li>
          <li><kbd class="key">f</kbd> Favorite post</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">f</kbd> Unfavorite post</li>
          <li><kbd class="key">g</kbd> Add post to favorite group</li>
          <li><kbd class="key">1</kbd>, <kbd class="key">2</kbd>, <kbd class="key">3</kbd>... Add post to favorite group #N</li>
          <li><kbd class="key">v</kbd> Toggle between sample and original image</li>
          <li><kbd class="key">z</kbd> Toggle between fit-to-window and full size</li>
        </ul>
      </section>

      <section class="column column-shrink">
        <h2>Artists</h2>
        <ul>
          <li><kbd class="key">e</kbd> Edit artist</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete artist</li>
        </ul>

        <h2>Forum</h2>
        <ul>
          <li><kbd class="key">e</kbd> Edit topic</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete topic</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">r</kbd> Mark all as read</li>
        </ul>

        <h2>Pools</h2>
        <ul>
          <li><kbd class="key">e</kbd> Edit pool</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete pool</li>
        </ul>

        <h2>Wiki</h2>
        <ul>
          <li><kbd class="key">e</kbd> Edit wiki page</li>
          <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete wiki page</li>
        </ul>
      </section>
    </div>
  </div>
</div>
