<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>
    
    <section>
      <h1>Post Listing</h1>
      <ul>
        <li><span class="key">&larr;</span> Previous page</li>
        <li><span class="key">&rarr;</span> Next page</li>
        <li><span class="key">/</span> Search</li>
      </ul>
    </section>
    
    <section>
      <h1>Post</h1>
      <ul>
        <li><span class="key">n</span> New note</li>
        <li><span class="key">/</span> Search</li>
      </ul>
    </section>
  </div>
</div>