<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>

    <section>
      <h1>Listing</h1>
      <ul>
        <li><kbd class="key">a</kbd> Previous page</li>
        <li><kbd class="key">d</kbd> Next page</li>
        <li><kbd class="key">q</kbd> Search</li>
        <li><kbd class="key">w</kbd> Scroll up</li>
        <li><kbd class="key">s</kbd> Scroll down</li>
      </ul>
    </section>

    <section>
      <h1>Post</h1>
      <ul>
        <li><kbd class="key">n</kbd> New note</li>
        <li><kbd class="key">e</kbd> Edit tags</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">e</kbd> Edit tags in dialog window</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">o</kbd> Approve post</li>
        <li><kbd class="key">enter</kbd> Submit tag changes</li>
        <li><kbd class="key">q</kbd> Search</li>
        <li><kbd class="key">w</kbd> Scroll up</li>
        <li><kbd class="key">s</kbd> Scroll down</li>
        <li><kbd class="key">a</kbd> Previous post</li>
        <li><kbd class="key">d</kbd> Next post</li>
        <li><kbd class="key">f</kbd> Favorite post</li>
      </ul>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Keyboard Shortcuts - <%= Danbooru.config.app_name %>
<% end %>
