<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>

    <section>
      <h1>Listing</h1>
      <ul>
        <li><kbd class="key">a</kbd>, <kbd class="key">⇦</kbd> Previous page</li>
        <li><kbd class="key">d</kbd>, <kbd class="key">⇨</kbd> Next page</li>
        <li><kbd class="key">q</kbd> Search</li>
        <li><kbd class="key">w</kbd> Scroll up</li>
        <li><kbd class="key">s</kbd> Scroll down</li>
        <li><kbd class="key">r</kbd> Go to random post</li>
        <li><kbd class="key">1</kbd>, <kbd class="key">2</kbd>, <kbd class="key">3</kbd>... Switch tag script</li>
      </ul>
    </section>

    <section>
      <h1>Post</h1>
      <ul>
        <li><kbd class="key">n</kbd> New note</li>
        <li><kbd class="key">e</kbd> Edit tags</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">e</kbd> Edit tags in dialog window</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">o</kbd> Approve post</li>
        <li><kbd class="key">enter</kbd> Submit tag changes</li>
        <li><kbd class="key">q</kbd> Search</li>
        <li><kbd class="key">w</kbd> Scroll up</li>
        <li><kbd class="key">s</kbd> Scroll down</li>
        <li><kbd class="key">a</kbd> Previous post</li>
        <li><kbd class="key">d</kbd> Next post</li>
        <li><kbd class="key">f</kbd> Favorite post</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">f</kbd> Unfavorite post</li>
        <li><kbd class="key">g</kbd> Add post to favorite group</li>
        <li><kbd class="key">1</kbd>, <kbd class="key">2</kbd>, <kbd class="key">3</kbd>... Add post to favorite group #N</li>
        <li><kbd class="key">r</kbd> Go to random post</li>
        <li><kbd class="key">v</kbd> Toggle between sample and full size</li>
      </ul>
    </section>

    <section>
      <h1>Artists</h1>
      <ul>
        <li><kbd class="key">e</kbd> Edit artist</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete artist</li>
      </ul>

      <h1>Forum</h1>
      <ul>
        <li><kbd class="key">e</kbd> Edit topic</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete topic</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">r</kbd> Mark all as read</li>
      </ul>

      <h1>Pools</h1>
      <ul>
        <li><kbd class="key">e</kbd> Edit pool</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete pool</li>
      </ul>

      <h1>Wiki</h1>
      <ul>
        <li><kbd class="key">e</kbd> Edit wiki page</li>
        <li><kbd class="key">shift</kbd>+<kbd class="key">d</kbd> Delete wiki page</li>
      </ul>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Keyboard Shortcuts - <%= Danbooru.config.app_name %>
<% end %>
