<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>
    
    <section>
      <h1>Listing</h1>
      <ul>
        <li><span class="key">a</span> Previous page</li>
        <li><span class="key">d</span> Next page</li>
        <li><span class="key">q</span> Search</li>
      </ul>
    </section>
    
    <section>
      <h1>Post</h1>
      <ul>
        <li><span class="key">n</span> New note</li>
        <li><span class="key">e</span> Edit tags</li>
        <li><span class="key">q</span> Search</li>
        <li><span class="key">w</span> Scroll up</li>
        <li><span class="key">s</span> Scroll down</li>
        <li><span class="key">a</span> Previous post</li>
        <li><span class="key">d</span> Next post</li>
      </ul>
    </section>
  </div>
</div>