<h1>sonohara</h1>

<h3>5 min</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_27-day.png">

<h3>30 min</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_27-week.png">

<h3>2 hour</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_27-month.png">

<h3>1 day</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_27-year.png">

<h1>hijiribe</h1>

<h3>5 min</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_29-day.png">

<h3>30 min</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_29-week.png">

<h3>2 hour</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_29-month.png">

<h3>1 day</h3>

<img src="https://mrtg.vinax.net/switch3/switch3_29-year.png">

<% content_for(:page_title) do %>
  MRTG - <%= Danbooru.config.app_name %>
<% end %>
