<div style="width: 60em;">
  <h1>Name Change</h1>

  <h2>I want to change my name. Why can't I?</h2>

  <p>Moderators rely on user names to track identities. For example, if Bob has a history of leaving nasty comments, the mods will know that Bob has a bad reputation. But if Bob decides to change his name to Carl, and Carl starts leaving nasty comments again, the mods won't realize that Bob and Carl are the same person. They might be lenient with Carl instead of banning him.</p>

  <p>For this reason user name changes are not supported.</p>
</div>
