<div style="text-align: center;">
  <%= print_advertisement("horizontal") %>      

  <div style="width: 50em; margin: 1em auto;">
    <h4>&ldquo;No one else could gain admittance here, because this entrance was meant solely for you. I am now going to shut it.&rdquo;</h4>
  </div>  
  
  <p>You have to <a href="/user/login">login</a> to view this page.</p>
  <p>You can create a <a href="/user/signup">free basic account</a>.</p>
  <p>Learn more about <a href="/help/users">accounts</a>.</p>
</div>
