<%# hash %>
<table class="striped aligned-vertical table-sm">
  <% hash.each do |key, value| %>
    <tr>
      <th><%= key.to_s.tr("_", " ").startcase %></th>
      <td><%= value || tag.i("unavailable") %></td>
    </tr>
  <% end %>
</table>
