<%# rows %>

<table class="striped">
  <thead>
    <tr>
      <% rows.first.keys.each do |key| %>
        <th><%= key.humanize %></th>
      <% end %>
    </tr>
  </thead>

  <% rows.each do |row| %>
    <tr>
      <% row.each do |key, value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
</table>
