<%= render "users/secondary_links" %>

<div id="c-user-events">
  <div id="a-index">
    <% if @mode == "list" %>
      <%= render "user_events/list" %>
    <% else %>
      <%= render "user_events/table" %>
    <% end %>
  </div>
</div>