<%= simple_form_for(post_replacement, url: post_replacements_path(post_id: post_replacement.post_id), method: :post) do |f| %>
  <h1>Replace Image</h1>

  <p>
    Delete the current image and replace it with another one, keeping
    everything else in the post intact. This is meant for upgrading
    lower-quality images, such as image samples, to higher-quality versions.
  </p>

  <%= f.input :replacement_url, label: "New Source", input_html: { value: "" } %>
<% end %>
