<div class="mb-4">
  <div class="space-x-4">
    <span class="info space-x-1">
      <strong>Date</strong>
      <%= compact_time(post.created_at) %>
    </span>
    <span class="info space-x-1">
      <strong>Uploader</strong>
      <%= link_to_user(post.uploader) %>
    </span>
    <span class="info space-x-1">
      <strong>Rating</strong>
      <span><%= post.pretty_rating %></span>
    </span>
  </div>
  <div class="space-x-1">
    <strong>Tags</strong>
    <%= render_inline_tag_list(post) %>
  </div>
</div>

