@import "../base/000_vars.scss";

div.comments-for-post {
  div.moderation-comments-notice {
    margin: 1em 0;
    font-weight: bold;
    color: var(--moderation-report-text-color);
  }

  div.hidden-comments-notice {
    margin: 1em 0;
  }

  div.comments-locked-for-post {
    font-weight: bold;
  }

  div.list-of-comments {
    article.comment {
      flex: 1;

      &[data-is-sticky="true"] {
        background: var(--comment-sticky-background-color);
      }

      &[data-is-reported="true"] {
        border: var(--moderation-report-border);
      }

      &[data-is-voted="true"] {
        .comment-vote-up-link, .comment-vote-down-link {
          display: none;
        }
      }

      &[data-is-voted="false"] {
        .comment-unvote-link {
          display: none;
        }
      }

      &[data-below-threshold="true"][data-is-sticky="false"] {
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

div#c-comments {
  div#a-index, div#a-show {
    div.header {
      span.info {
        margin-right: 1.5em;
      }

      strong, time {
        margin-right: 0.3em;
      }
    }

    div.post-preview {
      &[data-tags~=animated], &[data-file-ext=swf], &[data-file-ext=webm], &[data-file-ext=zip], &[data-file-ext=mp4] {
        div.preview {
          position: relative;

          &::before {
            @include animated-icon;
          }
        }
      }

      &[data-has-sound=true] {
        div.preview {
          position: relative;

          &::before {
            @include sound-icon;
          }
        }
      }
    }

    div.post {
      display: flex;
      margin-bottom: 4em;

      div.preview {
        width: 154px;
        height: 154px;
        margin-right: 30px;
        overflow: hidden;
        text-align: center;
      }

      div.comments-for-post {
        flex: 1;
      }
    }
  }
}

form.edit_comment div.input.boolean {
  display: inline-block;

  label {
    font-weight: normal;
    vertical-align: initial;
  }
}

@media screen and (max-width: 660px) {
  div#c-comments div#a-index, div#c-comments div#a-show {
    div.post {
      display: block;
      margin: 2em 0;

      &:first-of-type {
        margin: 1em 0;
      }

      div.preview {
        margin: 1em auto;
        width: auto;
        height: auto;
      }

      div.comments-for-post {
        div.header div.row span.info {
          display: block;
        }
      }
    }
  }
}
