div.list-of-forum-posts {
  article {
    border: var(--forum-post-border);
    margin: 1em 0em;
    word-wrap: break-word;
    box-shadow: var(--forum-post-box-shadow);

    a.voted {
      font-weight: bold;
    }

    &:target {
      background-color: var(--forum-post-highlight-background-color);
    }

    .vote-score-up {
      color: var(--forum-vote-up-color);
    }

    .vote-score-meh {
      color: var(--forum-vote-meh-color);
    }

    .vote-score-down {
      color: var(--forum-vote-down-color);
    }

    div.author {
      padding: 1em 1em 0 1em;
      width: 12em;
      float: left;

      time {
        font-style: italic;
      }
    }

    div.content {
      padding: 1em;
      margin-left: 14em;

      .edit_forum_post, .edit_forum_topic {
        display: none;
      }

      menu {
        margin-top: 0.5em;

        ul.votes {
          margin: 0.5em 0;
        }

        li {
          margin-right: 1em;
        }
      }
    }
  }
}

div#c-forum-topics {
  span.new {
    font-size: 80%;
    color: var(--forum-new-topic-color);
    margin-right: 0.5em;
  }

  span.locked-topic {
    color: var(--forum-locked-topic-color);
  }

  span.level-topic {
    color: var(--forum-level-restricted-topic-color);
    font-weight: bold;
  }
  
  tr.forum-topic-row td:last-child {
    white-space: nowrap;
  }
}

#c-forum-posts #a-index {
  tr[data-topic-is-deleted="true"] .forum-post-topic-title::after,
  tr[data-is-deleted="true"] .forum-post-excerpt::after {
    content: " (deleted)";
    color: var(--forum-deleted-topic-color);
  }
}
