div.list-of-forum-posts {
  div.moderation-forums-notice {
    font-weight: bold;
    color: var(--moderation-report-text-color);
  }

  article.forum-post {
    &[data-is-reported="true"] {
      border: var(--moderation-report-border);
    }

    a.voted {
      font-weight: bold;
    }

    .vote-score-up {
      color: var(--forum-vote-up-color);
    }

    .vote-score-meh {
      color: var(--forum-vote-meh-color);
    }

    .vote-score-down {
      color: var(--forum-vote-down-color);
    }

    div.content {
      .edit_forum_post, .edit_forum_topic {
        display: none;
      }

      menu {
        ul.votes {
          margin: 0.5em 0;
        }
      }
    }
  }
}

div#c-forum-topics {
  span.topic-status {
    margin-right: 0.25em;
    vertical-align: bottom;

    &.label {
      font-size: 0.8em;
      text-transform: uppercase;
    }

    &.icon {
      color: var(--muted-text-color);
      font-size: 1em;
    }

    &.new {
      color: var(--forum-topic-status-new-color);
    }
  }

  #a-index {
    td {
      line-height: 1.5em;
    }

    .updated-at-column {
      white-space: nowrap;
    }

    .updated-by-column, .updated-at-column {
      @media screen and (max-width: 660px) {
        display: none;
      }
    }
  }
}

#c-forum-posts #a-index {
  tr[data-topic-is-deleted="true"] .forum-post-topic-title::after,
  tr[data-is-deleted="true"] .forum-post-excerpt::after {
    content: " (deleted)";
    color: var(--muted-text-color);
  }
}
