@import "../base/000_vars.scss";

a.pool-category-series, .pool-category-series a {
  color: var(--series-pool-color);

  &:hover {
    color: var(--series-pool-hover-color);
  }
}

a.pool-category-collection, .pool-category-collection a {
  color: var(--collection-pool-color);

  &:hover {
    color: var(--collection-pool-hover-color);
  }
}

div#add-to-pool-dialog {
  font-size: 0.8em;

  form {
    margin-bottom: 1em;
  }

  li {
    margin-left: 1em;
    cursor: pointer;
  }
}

div#c-pools {
  textarea {
    height: 10em;
  }

  div#a-show {
    div#description {
      margin-bottom: 1em;
    }
  }
}

div#c-pool-orders, div#c-favorite-group-orders {
  div#a-edit {
    ul.ui-sortable {
      list-style-type: none;

      li {
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 150px;
        min-height: 150px;
        padding: 10px;
        display: inline-block;
      }

      li.ui-state-default {
        background: none;
      }

      li.ui-state-placeholder {
        background: none;
      }
    }
  }
}

div#c-pool-versions {
  del a, ins a {
    margin-right: 0.25em;
  }
}
