@import "../base/000_vars.scss";

a.pool-category-series, .pool-category-series a {
  color: #A0A;

  &:hover {
    color: #B6B;
  }
}

a.pool-category-collection, .pool-category-collection a {
  color: $link_color;

  &:hover {
    color: $link_hover_color;
  }
}

div#add-to-pool-dialog {
  font-size: 0.8em;

  form {
    margin-bottom: 1em;
  }

  li {
    margin-left: 1em;
    cursor: pointer;
  }

  h1 {
    font-size: $h3_size;
  }
  
  .hint {
    display: block;
  }
}

div#c-pools {
  h1 {
    font-size: $h2_size;
  }

  textarea {
    height: 10em;
  }

  div#a-show {
    div#description {
      margin-bottom: 1em;
    }
  }
}

div#c-pool-orders, div#c-favorite-group-orders {
  h1 {
    font-size: $h2_size;
  }

  div#a-edit {
    ul.ui-sortable {
      list-style-type: none;

      li {
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 150px;
        min-height: 150px;
        padding: 10px;
        display: inline-block;
      }

      li.ui-state-default {
        background: none;
      }

      li.ui-state-placeholder {
        background: none;
      }
    }
  }
}

ul.inline-pool-list {
  display: inline;

  li {
    display: inline;
  }
}
