body.c-post-versions.a-index {
  #subnav-undo-selected-link {
    display: none;
  }

  .post-version-select-column {
    min-width: 2em;
  }

  .advanced-search-link {
    margin: 0 1em;
  }

  #p-revert-listing {
    display: flex;
    table#post-versions-table { flex: 1; }
  }
}
