$tooltip-line-height: 16px;
$tooltip-body-height: $tooltip-line-height * 4; // 4 lines high.

@mixin thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--post-tooltip-scrollbar-background);
    border: none;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--post-tooltip-scrollbar-thumb-color);
  }

  &::-webkit-scrollbar-thumb:active {
    background: var(--post-tooltip-scrollbar-thumb-color);
  }

  &::-webkit-scrollbar-track {
    background: var(--post-tooltip-scrollbar-track-background);
    border: none;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track:hover {
    background: var(--post-tooltip-scrollbar-track-background);
  }

  &::-webkit-scrollbar-track:active {
    background: var(--post-tooltip-scrollbar-track-background);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.tippy-box[data-theme~="post-tooltip"] {
  min-width: 200px;
  box-sizing: border-box;
  font-size: 11px;
  line-height: $tooltip-line-height;

  border: 1px solid var(--post-tooltip-border-color);
  border-radius: 4px;

  background-color: var(--post-tooltip-background-color);
  background-clip: padding-box;
  box-shadow: var(--post-tooltip-box-shadow);

  .tippy-content {
    padding: 0;

    > * {
      padding: 4px 8px;
    }

    .post-tooltip-body {
      @include thin-scrollbar;
      max-height: $tooltip-body-height;
      overflow-y: auto;
      display: flex;

      &.has-preview {
        max-height: 154px;
        padding: 8px;

        article.post-preview {
          margin: 0 8px 0 0;
        }
      }

      li {
        margin-right: 0;
      }

      .post-tooltip-body-left { flex: 0; }
      .post-tooltip-body-right { flex: 1; }
    }

    .post-tooltip-header {
      background-color: var(--post-tooltip-header-background-color);
      display: flex;
      white-space: nowrap;
      overflow: hidden;

      .post-tooltip-header-left {
        flex: 1;
      }

      .post-tooltip-header-right {
        flex: 1;
        text-align: right;
      }

      .fa-xs {
        vertical-align: baseline;
      }

      .post-tooltip-disable {
        margin-left: 0.5em;
      }
    }

    .post-tooltip-info {
      margin-left: 0.5em;
      color: var(--post-tooltip-info-color);
      font-size: 10px;
    }
  }

  /* bordered arrow styling; see https://github.com/atomiks/tippyjs/blob/master/src/scss/themes/light-border.scss */
  &[data-placement^=bottom] {
    > .tippy-arrow:before {
      border-bottom-color: var(--post-tooltip-background-color);
      bottom: 16px;
    }

    > .tippy-arrow:after {
      border-bottom-color: var(--post-tooltip-border-color);
      border-width: 0 7px 7px;
      top: -8px;
      left: 1px;
    }
  }

  &[data-placement^=top] {
    > .tippy-arrow:before {
      border-top-color: var(--post-tooltip-background-color);
    }

    > .tippy-arrow:after {
      border-top-color: var(--post-tooltip-border-color);
      border-width: 7px 7px 0;
      top: 17px;
      left: 1px;
    }
  }

  > .tippy-arrow:after {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute;
    z-index: -1;
  }
}

div[data-tippy-root].post-tooltip-loading {
  visibility: hidden !important;
}
