body.mode-view {
  background-color: var(--post-mode-menu-view-background);
}

body.mode-edit {
  background-color: var(--post-mode-menu-edit-background);
}

body.mode-tag-script {
  background-color: var(--post-mode-menu-tag-script-background);
}

body.mode-add-fav {
  background-color: var(--post-mode-menu-add-fav-background);
}

body.mode-remove-fav {
  background-color: var(--post-mode-menu-remove-fav-background);
}

body.mode-vote-up {
  background-color: var(--post-mode-menu-vote-up-background);
}

body.mode-vote-down {
  background-color: var(--post-mode-menu-vote-down-background);
}

body.mode-lock-rating {
  background-color: var(--post-mode-menu-lock-rating-background);
}

body.mode-lock-note {
  background-color: var(--post-mode-menu-lock-note-background);
}

body.mode-approve {
  background-color: var(--post-mode-menu-approve-background);
}

body.mode-translation {
  background-color: var(--post-mode-menu-translation-background);
}

body.mode-ban {
  background-color: var(--post-mode-menu-ban-background);
}

#page, #top, #page-footer {
  background-color: var(--body-background-color);
}
