div#related-tags-container {
  &.visible a#show-related-tags-link,
  &.hidden a#hide-related-tags-link,
  &.hidden div.related-tags {
    display: none;
  }
}

div.related-tags {
  background: var(--related-tags-container-background);
  overflow: auto;
  flex-wrap: wrap;

  div.tag-column {
    max-width: 15em;

    a.selected {
      background: var(--selected-related-tag-background-color);
      color: var(--selected-related-tag-color);
    }
  }
}
