div#c-tags {
  div#a-index table.striped {
    td:nth-child(1), th:nth-child(1) {
      text-align: right;
    }
  }
}

#tags-container {
  div.header {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;

    label {
      grid-column: 1;
    }

    .options {
      grid-column: 2;
      justify-self: end;

      .count {
        color: var(--tag-count-color);
        text-decoration: italic;
        margin-left: 0.25em;
        padding-bottom: 0.2em;
      }

      i {
        margin-left: 0.25em;
        font-size: 11pt;
      }

      .fa-frown {
        color: var(--tag-count-indicator-frown-color);
      }

      .fa-meh {
        color: var(--tag-count-indicator-meh-color);
      }

      .fa-smile {
        color: var(--tag-count-indicator-smile-color);
      }
    }
  }
}
