div#c-users {
  div#a-show {
    div.box {
      h2, h3 {
        color: var(--profile-page-header-color);
      }

      margin-bottom: 2em;
    }

    /* clearfix hacks */
    div.box:before, div.box:after {
      content: "";
      display: table;
    }

    div.box:after {
      clear: both;
    }

    table.user-statistics {
      tr {
        height: 1.75em;
      }

      th {
        width: 15%;
        text-align: right;
        padding-right: 1em;
        vertical-align: top;
      }

      td {
        width: 85%;
        vertical-align: top;
      }

      p {
        margin-bottom: 0.5em;
      }
    }
  }

  div#a-edit {
    h1 {
      margin: 0.5em 0;
    }

    h2 {
      margin: 0.5em 0;
    }

    div.input {
      margin-bottom: 2em;
    }

    .active {
      color: var(--settings-page-active-tab-color);
    }
  }

  div#a-new {
    max-width: 60em;

    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
}
