div#c-user-feedbacks, div#c-moderator-dashboards div#col2 {
  .feedback-category-positive {
    background: var(--user-feedback-positive-background-color);
  }

  .feedback-category-negative {
    background: var(--user-feedback-negative-background-color);
  }

  .feedback-category-neutral {
    background: var(--user-feedback-neutral-background-color);
  }

  #negative-policy {
    max-width: 50em;
    margin-bottom: 1em;
  }
}
