@import "../base/000_vars.scss";

div#c-users {
  div#a-show {
    div.box {
      h2, h3 {
        color: #333;
      }

      margin-bottom: 2em;
    }

    /* clearfix hacks */
    div.box:before, div.box:after {
      content: "";
      display: table;
    }

    div.box:after {
      clear: both;
    }

    table.user-statistics {
      tr {
        height: 1.75em;
      }

      th {
        width: 15%;
        text-align: right;
        padding-right: 1em;
        vertical-align: top;
      }

      td {
        width: 85%;
        vertical-align: top;
      }

      p {
        margin-bottom: 0.5em;
      }
    }
  }

  div#a-edit {
    h1 {
      margin: 0.5em 0;
    }

    h2 {
      margin: 0.5em 0;
    }

    div.input {
      margin-bottom: 2em;
    }

    div.input span.hint {
      display: block;
      max-width: 70%;
    }

    .active {
      color: black;
    }
  }

  div#a-new {
    max-width: 60em;

    p {
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.4em;
    }

    footer.nav-links {
      font-size: 1.4545em;
      font-weight: bold;
      text-align: center;
      display: block;
    }

    div#p2 ul {
      margin-bottom: 2em;
    }
  }
}
