div#c-user-upgrades {
  div#a-new {
    max-width: 40em;
    font-size: 1.2em;

    form.stripe {
      display: inline;
    }

    div.section {
      margin-bottom: 2em;
    }

    div#feature-comparison {
      overflow: hidden;
      margin-bottom: 1em;

      table {
        width: 100%;

        colgroup {
          width: 10em;
        }

        colgroup#basic {
        }

        colgroup#gold  {
          background-color: #FFF380;
        }

        colgroup#platinum {
          background-color: #eee;
        }

        td, th {
          text-align: center;
          vertical-align: top;
          padding: 0.5em 0;
        }

        tbody {
          tr:hover {
            background-color: #FEF;
          }
        }

        p.cost-footnote {
          font-size: 80%;
          color: gray;
          margin: 0;
        }
      }
    }
  }
}
