div#c-wiki-page-versions {
  #a-diff {
    del {
      background: var(--wiki-page-versions-diff-del-background);
      text-decoration: none;
    }

    ins {
      background: var(--wiki-page-versions-diff-ins-background);
      text-decoration: none;
    }

    span.paragraph-mark {
      opacity: 0.25;
    }
  }

  #a-index {
    table {
      margin-bottom: 1em;
    }
  }
}
