div#c-wiki-pages {
  #a-new {
    div.notice {
      font-size: 0.8em;
      padding: 1em;
      margin: 1em 0;
    }
  }
}

.wiki-other-name {
  background-color: var(--wiki-page-other-name-background-color);
  padding: 3px;
  border-radius: 3px;
}
