<% content_for(:secondary_nav_links) do %>
  <menu>
    <li>Listing</li>
    <li><%= link_to "Upload", new_upload_path %></li>
    <li>Popular</li>
    <li>Favorites</li>
    <li>Subscriptions</li>
    <li>Changes</li>
    <li>Approvals</li>
    <li>Moderate</li>
    <li>Help</li>
  </menu>
<% end %>