<% content_for(:sidebar) do %>
  <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags], :tags_dom_id => "tags" %>

  <%= render "posts/partials/index/mode_menu" %>

  <%= render "posts/partials/index/blacklist" %>

  <section id="tag-box">
    <h2>Tags</h2>
    <%= render_search_tag_list(@post_set.related_tags, current_query: params[:tags], show_extra_links: policy(Post).show_extra_links?, search_params: { view: params[:view], size: params[:size] }) %>
  </section>

  <%= render "posts/partials/index/options" %>

  <%= render "posts/partials/index/related", post_set: @post_set %>
<% end %>

<% content_for(:content) do %>
  <menu id="post-sections" class="flex">
    <li class="flex-grow-1 space-x-2">
      <a href="#" id="show-posts-link" class="active">Posts</a>

      <% if @post_set.artist.present? %>
        <%= link_to "Artist", artist_path(@post_set.artist), id: "show-excerpt-link", class: "artist-excerpt-link" %>
      <% elsif @post_set.wiki_page.present? %>
        <%= link_to "Wiki", wiki_page_path(@post_set.wiki_page), id: "show-excerpt-link", class: "wiki-excerpt-link" %>
      <% elsif @post_set.pool.present? %>
        <%= link_to "Pool", pool_path(@post_set.pool), id: "show-excerpt-link", class: "pool-excerpt-link" %>
      <% elsif @post_set.favgroup.present? %>
        <%= link_to "Favorite Group", favorite_group_path(@post_set.favgroup), id: "show-excerpt-link", class: "favgroup-excerpt-link" %>
      <% elsif @post_set.has_blank_wiki? %>
        <%= link_to "Wiki", new_wiki_page_path(wiki_page: { title: @post_set.tag.name }), id: "show-excerpt-link", class: "blank-wiki-excerpt-link" %>
      <% end %>

      <a class="mobile-only" href="#search-box">Search &raquo;</a>
    </li>

    <%= render PopupMenuComponent.new(classes: "hidden") do |menu| %>
      <% menu.button do %>
        <span class="text-sm">Size <%= caret_down_icon %></span>
      <% end %>

      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "150" %>
          <%= link_to "Small", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "150"), class: "font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Small", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "150"), rel: "nofollow" %>
        <% end %>
      <% end %>

      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "180" %>
          <%= link_to "Medium", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "180"), class: "font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Medium", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "180"), rel: "nofollow" %>
        <% end %>
      <% end %>

      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "225" %>
          <%= link_to "Large", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "225"), class: "font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Large", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "225"), rel: "nofollow" %>
        <% end %>
      <% end %>

      <%# Mobile only %>
      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "360" %>
          <%= link_to "Huge", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "360"), class: "mobile-only font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Huge", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "360"), class: "mobile-only", rel: "nofollow" %>
        <% end %>
      <% end %>

      <%# Desktop only %>
      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "270" %>
          <%= link_to "Huge", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "270"), class: "desktop-only font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Huge", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "270"), class: "desktop-only", rel: "nofollow" %>
        <% end %>
      <% end %>

      <%# Desktop only %>
      <% menu.item do %>
        <% if params.fetch(:size, PostPreviewComponent::DEFAULT_SIZE) == "360" %>
          <%= link_to "Gigantic", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "360"), class: "desktop-only font-bold", rel: "nofollow" %>
        <% else %>
          <%= link_to "Gigantic", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: params[:view], size: "360"), class: "desktop-only", rel: "nofollow" %>
        <% end %>
      <% end %>
    <% end %>

    <%= render PopupMenuComponent.new do |menu| %>
      <% menu.item do %>
        <% if params[:view] == "score" %>
          <%= link_to "Hide scores", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: nil, size: params[:size]), rel: "nofollow" %>
        <% else %>
          <%= link_to "Show scores", posts_path(tags: params[:tags], page: params[:page], limit: params[:limit], view: "score", size: params[:size]), rel: "nofollow" %>
        <% end %>
      <% end %>
    <% end %>
  </menu>

  <%= render "posts/partials/index/edit" %>
  <%= render "posts/partials/index/excerpt", :post_set => @post_set %>
  <%= render "posts/partials/index/posts", :post_set => @post_set %>
<% end %>

<div id="saved-searches-nav">
  <%= render "saved_searches/interface" %>
</div>

<% if params[:tags] =~ /search:/ %>
  <%= render "saved_searches/secondary_links" %>
<% else %>
  <%= render "posts/partials/common/secondary_links" %>
<% end %>

<% if @post_set.query.is_simple_tag? && @post_set.current_page == 1 %>
  <% if @post_set.post_count == 0 %>
    <%= missed_post_search_count_js(@post_set.query.to_s) %>
  <% else %>
    <%= post_search_count_js(@post_set.query.to_s) %>
  <% end %>
<% end %>

<% content_for(:html_header) do %>
  <%= render "posts/partials/index/seo_meta_tags" %>
<% end %>
