<div id="blacklist-box" class="sidebar-blacklist">
  <h2>Blacklisted (<%= link_to_wiki "help", "help:blacklists" %>)</h2>
  <ul id="blacklist-list" class="list-bulleted"></ul>
  <%= link_to "Disable all", "#", :id => "disable-all-blacklists", :style => "display: none;" %>
  <%= link_to "Re-enable all", "#", :id => "re-enable-all-blacklists", :style => "display: none;" %>
</div>
