<div id="quick-edit-div" style="display: none;">
  <h2>Edit</h2>

  <%= edit_form_for(:post, html: { id: "quick-edit-form" }) do |f| %>
    <%= f.input :tag_string, label: "Tags", as: :text, input_html: { "data-autocomplete": "tag-edit" } %>
    <%= f.submit "Submit", data: { disable_with: false } %>
    <%= f.button :button, "Cancel", name: :cancel, type: :button %>
  <% end %>
</div>
