<% if post_set.date_tag %>
  <section>
    <h1>Explore</h1>
    <ul>
      <li>&laquo; Day &raquo;</li>
      <li>&laquo; Week &raquo;</li>
      <li>&laquo; Month &raquo;</li>
    </ul>
  </section>
<% end %>
