<% if policy(Post).can_use_mode_menu? %>
  <section id="mode-box">
    <h2>Mode</h2>
    <form action="/">
      <select name="mode">
        <option value="view">View</option>
        <option value="edit">Edit</option>
        <option value="tag-script">Tag script</option>
        <option value="add-fav">Favorite</option>
        <option value="remove-fav">Unfavorite</option>
        <option value="vote-up">Vote up</option>
        <option value="vote-down">Vote down</option>
      </select>
    </form>
    <input id="tag-script-field" data-autocomplete="tag-edit" placeholder="Enter tag script" style="display: none; margin-top: 0.5em;">
  </section>
<% end %>
