<div class="clearfix"></div>

<div id="nav-help" class="ui-corner-all nav-notice">
  <p class="hint">Press <span class="key">&larr;</span> or <span class="key">&rarr;</span> to navigate pages [<%= link_to "close", "#", :id => "close-nav-help-link" %>]</p>
</div>
