<section id="options-box">
  <h2>Options</h2>
  <ul>
    <% if policy(SavedSearch).create? %>
      <li><%= button_tag(tag.i(class: "fas fa-bookmark") + " Save search", id: "save-search", class: "ui-button ui-widget ui-corner-all sub") %></li>
    <% end %>
  </ul>
</section>
