<div id="posts">
  <% if post_set.shown_posts.empty? %>
    <%= render "post_sets/blank" %>
  <% else %>
    <%= render_post_gallery(post_set.posts, show_deleted: post_set.show_deleted?, tags: post_set.tag_string, show_votes: post_set.show_votes?, size: params[:size]) do |gallery, posts| %>
      <% gallery.footer do %>
        <% if post_set.hidden_posts.present? %>
          <div class="fineprint hidden-posts-notice">
            <% if post_set.banned_posts.present? %>
              <%= post_set.banned_posts.size %> post(s) were removed from this page at the artist's request (<%= link_to_wiki "learn more", "banned_artist" %>).<br>
            <% end %>

            <% if post_set.censored_posts.present? %>
              <%= post_set.censored_posts.size %> post(s) on this page require a <%= link_to "Gold account", new_user_upgrade_path %> to view (<%= link_to_wiki "learn more", "help:censored_tags" %>).<br>
            <% end %>

            <% if post_set.safe_posts.present? %>
              <%= post_set.safe_posts.size %> post(s) on this page were hidden by safe mode. Go to <%= link_to "Danbooru", "https://danbooru.donmai.us" %> or disable safe mode to view them (<%= link_to_wiki "learn more", "help:user_settings" %>).<br>
            <% end %>
          </div>
        <% end %>

        <% if !CurrentUser.user.is_anonymous? && post_set.tag.present? && post_set.current_page == 1 %>
          <% cache("tag-change-notice:#{post_set.tag.name}", expires_in: 4.hours) do %>
            <% if post_set.pending_bulk_update_requests.present? %>
              <div class="fineprint tag-change-notice">
                <p>
                  This tag is being discussed in
                  <%= to_sentence post_set.pending_bulk_update_requests.map { |bur| link_to "Topic ##{bur.forum_topic_id}: #{bur.forum_topic.title}", bur.forum_post } %>.
                </p>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <%= numbered_paginator(posts) %>
      <% end %>
    <% end %>
  <% end %>
</div>
