<h1>Posts</h1>

<%= post_set.presenter.post_previews_html(self) %>

<div class="clearfix"></div>

<div class="paginator">
  <%= numbered_paginator(post_set.posts) do |page| %>
    <%= link_to(page, posts_path(:page => page, :tags => post_set.tag_string)) %>
  <% end %>
</div>
