<section id="related-box">
  <h1>Related</h1>
  <ul id="related-list">
    <% if @post_set.has_deleted? %>
      <li><%= link_to "Deleted posts", posts_path(:tags => "#{params[:tags]} status:deleted") %></li>
    <% end %>

    <% if @post_set.is_tag_subscription? %>
      <li><%= link_to "Edit subscriptions", tag_subscriptions_path %></li>
    <% end %>

    <li><%= link_to "Random post", random_posts_path(:tags => params[:tags]) %></li>

    <li><%= link_to "Mobile version", m_posts_path(:tags => params[:tags]) %></li>
  </ul>
</section>
