<section id="related-box">
  <h1>Related</h1>
  <ul id="related-list">
    <li><%= link_to "Deleted posts", posts_path(:tags => "#{params[:tags]} status:deleted"), :rel => "nofollow" %></li>

    <li><%= link_to "Random post", random_posts_path(:tags => params[:tags]), :id => "random-post", :rel => "nofollow" %></li>

    <li><%= link_to "Mobile version", mobile_posts_path(:tags => params[:tags]) %></li>

    <li><%= link_to "Post count", posts_counts_path(:tags => params[:tags]) %></li>
  </ul>
</section>
