<section id="related-box">
  <h1>Friends</h1>
  <ul id="friends-list">
	<li><a href="https://www.allthefallen.ninja">All The Fallen</a></li>
	<li><a href="https://stories.allthefallen.ninja">All The Fallen Stories</a></li>
  </ul><br>
  <h1>Related</h1>
  <ul id="related-list">
    <li><%= link_to "Deleted posts", posts_path(:tags => "#{params[:tags]} status:deleted") %></li>

    <% if @post_set.is_tag_subscription? %>
      <li><%= link_to "Edit subscriptions", tag_subscriptions_path %></li>
    <% end %>

    <li><%= link_to "Random post", random_posts_path(:tags => params[:tags]), :id => "random-post" %></li>

    <li><%= link_to "Mobile version", mobile_posts_path(:tags => params[:tags]) %></li>
  </ul>
</section>
