<% if Danbooru.config.addthis_key %>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_reddit"></a>
</div>

<script type="text/javascript">
  var addthis_config = {"data_track_addressbar": false, "pubid": "<%= Danbooru.config.addthis_key %>"};
  var addthis_share = {
    "url":"<%= j posts_url(tags: params[:tags]) %>",
    "title": "<%= escape_javascript @post_set.humanized_tag_string %> - <%= Danbooru.config.app_name %>"
  };
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>

<% end %>
