$menu_color: #F5F5FF;
$link_color: hsl(213, 100%, 50%);
$link_hover_color: lighten($link_color, 25%);
$link_dark_color: darken($link_color, 25%);
$highlight_color: lighten($link_color, 45%);
$h1_size: 2em;
$h2_size: 1.5em;
$h3_size: 1.16667em;
$h4_size: 1em;
$dtext_h1_size: 2em;
$dtext_h2_size: 1.8em;
$dtext_h3_size: 1.6em;
$dtext_h4_size: 1.4em;
$dtext_h5_size: 1.2em;
$dtext_h6_size: 1em;
$h1_padding: 0.8em 0 0.25em 0;
$h2_padding: 0.8em 0 0.25em 0;
$h3_padding: 0.8em 0 0.25em 0;
$h4_padding: 0.8em 0 0.25em 0;
$baseline: 1em;
$basefont: 100%;
$preview_has_children_color: #0F0;
$preview_has_parent_color: #CC0;
$preview_deleted_color: #000;
$preview_pending_color: #00F;
$preview_flagged_color: #F00;
$preview_sample_warning_color:  hsl(0,  100%, 90%); // light red
$preview_quality_warning_color: hsl(50, 100%, 90%); // light yellow

$error_color: hsl(0, 100%, 95%); // light red
$success_color: hsl(120, 100%, 95%); // light green

@mixin border-radius($val) {
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin box-shadow($val) {
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}

@mixin text-shadow($val) {
  -moz-text-shadow: $val;
  -webkit-text-shadow: $val;
  -ms-text-shadow: $val;
  -o-text-shadow: $val;
  text-shadow: $val;
}

@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

@mixin animated-icon {
  content: "►";
  position: absolute;
  width: 20px;
  height: 20px;
  color: white; 
  background-color: rgba(0,0,0,0.5);
  margin: 2px;
  text-align: center;
}

@mixin sound-icon {
  content: "♪";
  position: absolute;
  width: 20px;
  height: 20px;
  color: white; 
  background-color: rgba(0,0,0,0.5);
  margin: 2px;
  text-align: center;
}
