$link_color: #006FFA;
$link_hover_color: #9093FF;
$border_color: #CCC;
$highlight_color: #F0F0F0;
$reverse_highlight_color: #FFFDF4;
$h1_size: 2em;
$h2_size: 1.5em;
$h3_size: 1.16667em;
$h1_padding: 1.25em 0;
$h2_padding: 1.45833em 0;
$h3_padding: 1.51785em 0;