body {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 87.5%;
  line-height: 1.25em;
}

article, section {
  display: block;
}

abbr[title=required] {
  display: none;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: #EEE;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1, h2, h3 {
  font-family: Tahoma;
  font-weight: bold;
  line-height: 1.25em;
}

h1 {
  font-size: $h1_size; 
}

h2 { 
  font-size: $h2_size; 
}

h3 { 
  font-size: $h3_size; 
}

fieldset {
  margin-bottom: 1em;
}

header {
  margin: 0 0 1em 0;
  padding: 0;
  display: block;
}

img {
  border: none;
  vertical-align: middle;
}

img.wait {
  margin-left: 5px;
}

input[type=text], input[type=password], input[type=url], textarea, button {
/*  border: 1px solid #AAA;*/
  font-size: 1em;
/*  -moz-border-radius: 4px;*/
/*  -webkit-border-radius: 4px;*/
}

input[type=submit] {
  padding: 1px 4px;
/*  border: 1px solid #AAA;*/
/*  background-color: #EEE;*/
/*  -moz-border-radius: 4px;*/
/*  -webkit-border-radius: 4px;*/
  font-size: 1em;
  cursor: pointer;
}

input:focus, textarea:focus {
/*  background-color: #FFD;*/
}

input[type=submit]:hover {
/*  background-color: #F6F6F6;*/
}

legend {
  font-size: $h2_size;
  font-weight: bold;
  margin-bottom: 0.5em;
}

menu {
  margin: 0;
  padding: 0;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0 0.25em;
    list-style-type: none;
    display: inline;    
  }
}

p {
  margin-bottom: 1em;
}

section {
  display: block;
}

strong {
  font-weight: bold;
}

table tfoot {
  margin-top: 2em;
}
