@import "000_vars.css.scss";

div.prose {
  max-width: 40em;
  line-height: 1.4em;
  
  h1, h2, h3 {
    line-height: 1em;
  }
  
  h1 {
    padding: $h1_padding; 
  }

  h2 { 
    padding: $h2_padding; 
  }

  h3 { 
    padding: $h3_padding; 
  }
  
  h4, h5, h6 {
    padding: 0;
  }

  ul {
    margin-left: 1em;
    margin-bottom: 1em;
    
    ul {
      margin-bottom: 0;
    }
  }
  
  li {
    list-style-type: disc;
  }
}

div.dtext-preview {
  width: 30em;
  
  ul {
    margin-left: 1em;
  }
}
