@import "000_vars.css.scss";

div.prose {
  line-height: 1.4em;

  h1, h2, h3 {
    line-height: 1em;
  }

  h1 {
    padding: $h1_padding;
  }

  h2 {
    padding: $h2_padding;
  }

  h3 {
    padding: $h3_padding;
  }

  h4, h5, h6 {
    padding: 0;
  }

  ul {
    margin-left: 1em;
    margin-bottom: 1em;

    ul {
      margin-bottom: 0;
    }
  }

  li {
    list-style-type: disc;
  }
  
  pre {
    font-family: monospace;
    margin: 1em 0;
    padding: 1em 2em;
    background: #EEE;
    white-space: pre-wrap;
  }

  div.expandable {
    margin-bottom: 1em;
    border: 1px solid #666;
    background: #EEE;
  }

  div.expandable-header {
    padding: 0.7em;

    span {
      margin-right: 1em;
    }
  }

  div.expandable-button {
    padding: 0.3em;
    display: inline-block;
    border: 1px solid #666;
    border-radius: 3px;
    background: #CCC;
    cursor: pointer;
  }

  div.expandable-content {
    padding: 0.7em;
    border-top: 1px solid #666;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

div.dtext-preview {
  ul {
    margin-left: 1em;
  }
}
