@import "000_vars.css.scss";

span.error {
  display: block;
  font-weight: bold;
  color: red;
}

span.link {
  color: $link_color;
  cursor: pointer;
}

span.wait {
  color: #CCC;
}

span.count {
  color: #CCC;
  margin-left: 0.5em;
}