@import "000_vars.css.scss";

span.error {
  display: block;
  font-weight: bold;
  color: red;
}

span.link {
  color: $link_color;
  cursor: pointer;
}

span.wait {
  color: #CCC;
}

span.count {
  color: #CCC;
  margin-left: 0.5em;
}

span.edit-options {
}

span.key {
  background: #333;
  border: 1px solid #333;
  padding: 1px 3px;
  color: white;
  display: inline-block;
  width: 1em;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
