@import "000_vars.css.scss";

div#search {
  margin-bottom: 1em;
}

div#page {
  overflow: visible;
  margin: 0 30px;
  
  div#upgrade-account-notice, div#sign-up-notice, div#tos-notice {
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    position: relative;
    
    h1 {
      font-size: $h2_size;
      font-weight: bold;
    }
    
    p {
      margin: 0;
    }
  }
  
  aside#sidebar {
    width: 15em;
    float: left;
    
    h1 {
      font-size: $h3_size;
    }
    
    ul {
      list-style-type: none;
    }
    
    input[type=text] {
      width: 10em;
    }
  }
  
  aside#sidebar:after {
    content: "";
    clear: both;
  }

  aside#sidebar > section {
    margin-bottom: 1em;
  }

  aside#sidebar > section#blacklist-box ul {
    margin-left: 1em;
    
    li {
      list-style-type: disc;
    }
    
    a {
      color: $link_color;
      cursor: pointer;
    }
    
    span {
      color: #AAA;
    }
  }
  
  section#content {
    overflow: visible;
  }
}

footer#page-footer {
  clear: both;
  margin: 1em;
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #EEE;
}

div.clearfix {
  clear: both;
}

div#more-links {
  z-index: 5000;
  position: absolute;
  background: white;
  border: 1px solid #999;
  width: 8em;
  line-height: 1.3em;
  padding: 0.2em 0.6em;
  @include box-shadow(2px 2px 2px #ccc);
}
 
