div.error-messages {
  margin: 1em 0;
  padding: 1em;

  h1 {
    font-size: 1em;
    color: #A00;
  }
}

div#notice {
  margin: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 2px solid #89857B;
}

a#close-notice-link {
  float: right;
  margin-right: 2em;
}
