div.error-messages {
  margin: 1em 0;
  padding: 1em;

  h1 {
    font-size: 1em;
    color: #A00;
  }
}

div#notice {
  margin: 1em 0;
  padding: 1em;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 100;
}

a#close-notice-link {
  float: right;
  margin-left: 1em;
}
