@import "000_vars.css.scss";

table.striped {
  p {
    margin: 0;
  }

  td, th {
    padding: 4px 6px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #CCC;

      &:hover {
        background-color: $highlight_color;
      }
    }
  }

  .number {
    text-align: right;
  }

  thead {
    tr {
      border-bottom: 2px solid #666;
    }

    th {
      font-weight: bold;
      text-align: left;
      color: #333;
    }
  }

  tr.even {
    background-color: #FAFAFA;
  }
}
