@import "000_vars.scss";

table.striped {
  p {
    margin: 0;
  }

  td, th {
    padding: 4px 6px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #CCC;

      &:hover {
        background-color: $highlight_color;
      }
    }
  }

  .number, .links {
    text-align: right;
  }

  thead {
    tr {
      border-bottom: 2px solid #666;
    }

    th {
      font-weight: bold;
      text-align: left;
      color: #333;
    }
  }

  tr.even {
    background-color: #FAFAFA;
  }
}

/*
 * A table where one column expands to fill the screen, while the
 * other columns shrink to fit their contents.
 */
table.autofit {
  td, th, .col-fit {
    white-space: nowrap;
    padding-right: 2em;
  }

  .col-expand {
    white-space: normal;
    width: 100%;
  }
}

table.search {
  tr {
    height: 2em;
  }

  th {
    text-align: right;
    padding-right: 1em;
    vertical-align: top;
  }

  td {
    vertical-align: top;
  }
}

table.aligned-vertical {
  @extend table.search;

  tr {
    height: 1.75em;
  }
}
