a.user-admin.with-style {
  color: red;
}

a.user-moderator.with-style {
  color: orange;
}

a.user-contributor.with-style {
  color: purple;
}

a.user-builder.with-style {
  color: #6633FF;
}

a.user-platinum.with-style {
  color: gray;
}

a.user-gold.with-style {
  color: #0000FF;
}

a.user-member.with-style {
  color: auto;
}
