<%- # forum_post %>
<%- # original_forum_post_id %>

<div class="list-of-forum-posts">
  <% forum_posts.each do |forum_post| %>
    <%= render "forum_posts/forum_post", :forum_post => forum_post, :original_forum_post_id => original_forum_post_id %>
  <% end %>
</div>
