<div id="c-forum-posts">
  <div id="a-edit">
    <h1>Edit Forum Post</h1>

    <%= render "forum_posts/partials/edit/form", :forum_post => @forum_post %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>
