<div id="c-forum-topics">
  <div id="a-edit">
    <h1>Edit Forum Post</h1>

    <%= simple_form_for(@forum_post) do |f| %>
      <%= f.input :body %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>
