<div id="c-forum-topics">
  <div id="a-new">
    <h3>New Forum Post</h3>
    <%= render "form" %>
    <%= error_messages_for "forum_post" %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>