<div id="c-forum-topics">
  <div id="a-new">
    <h1>New Forum Post</h1>
    <%= render "form" %>
    <%= error_messages_for "forum_post" %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>

<% content_for(:page_title) do %>
  New Forum Post - <%= Danbooru.config.app_name %>
<% end %>
