<div id="c-forum-topics">
  <div id="a-show" class="single-forum-post list-of-forum-posts">
    <%= render "forum_post", :forum_post => @forum_post %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>