<table class="striped">
  <tbody>
    <tr>
      <th>Prompt</th>
      <td><%= ai_metadata.prompt.presence || unknown_field %></td>
    </tr>
    <tr>
      <th>Negative prompt</th>
      <td><%= ai_metadata.negative_prompt.presence || unknown_field %></td>
    </tr>
    <% ai_metadata.parameters.each do |name, value| %>
      <tr>
        <th><%= name %></th>
        <td><%= value.presence || unknown_field %></td>
      </tr>
    <% end %>
  </tbody>
</table>
