<div class="favorites-tooltip thin-scrollbar">
  <% if favorites.length > 0 %>
    <div class="post-favoriters">
      <% favorites.each do |favorite| %>
        <div class="post-favoriter truncate">
          <%= favoriter_name(favorite) %>
        </div>
      <% end %>
    </div>
  <% else %>
    <i>No favorites yet</i>
  <% end %>
</div>
