@import "common/010_reset.scss";
@import "common/020_base.scss";
@import "common/030_links.scss";

body {
  padding: 5px;
}

input[type=text], input[type=submit] {
  font-size: 18pt;
}

/* paginator */
div.paginator {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;

  li {
    display: inline;

    a, span {
      padding: 3px 18px;
      margin: 0 3px;
      display: inline-block;
    }
  }
}

/* posts/index */
article.post-preview {
  margin: 15px 0;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  a {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  img {
    margin: 0 auto;
  }
}

/* posts/show */
img#image {
  margin-top: 5px;
}

div#options {
  margin-top: 10px;
  font-size: 24pt;
  font-weight: bold;
}

div#tags {
  margin-top: 30px;

  li {
    margin: 10px 0;
  }

  a.search-tag {
    font-size: 24pt;
    font-weight: bold;
  }
}
