<% page_title "Post Counts" %>
<%= render "posts/partials/common/secondary_links" %>

<div id="c-counts">
  <div id="a-posts">
    Post count for <%= link_to params[:tags].present? ? params[:tags] : "/posts", posts_path(:tags => params[:tags]) %>:
    <% if @count.nil? %>
      timed out
    <% else %>
      <%= @count %>
    <% end %>
  </div>
</div>
