<% page_title "Change Email" %>

<div id="c-emails">
  <div id="a-edit">
    <div class="card mt-8 p-4 max-w-480px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Change Email</h1>

      <% if @user.is_restricted? %>
        <p>Your account is restricted because you signed up from a proxy or VPN.</p>

        <p>You can still use the site, but you won't be able to leave comments, edit
        tags, or upload posts until you add a verified email address to your
        account.</p>

        <p>Disposable or throwaway email addresses can't be used to verify your account.</p>
      <% end %>

      <%= edit_form_for(@user, url: user_email_path(@user), html: { class: "w-full stacked-form" }) do |f| %>
        <%= f.input :email, as: :email, input_html: { value: @user&.email_address&.address } %>
        <%= f.submit "Save", class: "button-primary" %>
      <% end %>
    </div>
  </div>
</div>
