<div class="dz-preview dz-file-preview">
  <img data-dz-thumbnail/>
  <div class="dz-details">
    <div class="dz-filename">
      <span data-dz-name></span>
    </div>
    <div class="dz-size" data-dz-size></div>
  </div>
  <div class="dz-progress">
    <span class="dz-upload" data-dz-uploadprogress></span>
  </div>
  <div class="dz-error-message">
    <span data-dz-errormessage></span>
  </div>
</div>
