<div class="flex items-center mb-2">
  <h1 class="flex-1">My Uploads</h1>

  <span>
    <strong>Gallery</strong> |
    <%= link_to "Table", uploads_path(mode: "table") %>
  </span>
</div>

<%= render(MediaAssetGalleryComponent.new) do |gallery| %>
  <% @uploads.each do |upload| %>
    <% gallery.media_asset do %>
      <%= render "uploads/preview", upload: upload, size: gallery.size %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@uploads) %>
