<% if params[:url] %>
  <%= image_tag(@normalized_url, :title => "Preview", :id => "image") %>
  <% if params[:ref] %>
    <p><strong>Referrer: </strong> <%= params[:ref] %></p>
  <% end %>

  <p id="scale"></p>
<% end %>
