<%= render(MediaAssetGalleryComponent.new) do |gallery| %>
  <% upload.upload_media_assets.order(id: :asc).each do |upload_media_asset| %>
    <% media_asset = upload_media_asset.media_asset %>

    <% gallery.media_asset(media_asset: media_asset, size: gallery.size, link_target: [upload, upload_media_asset]) do |preview| %>
      <% preview.footer do %>
        <div class="text-center text-muted text-xs h-12">
          <% if media_asset.post.present? %>
            <div class="leading-none">
              <%= link_to "post ##{media_asset.post.id}", media_asset.post, class: "leading-none" %>
            </div>
          <% end %>

          <% if upload_media_asset.source_url.present? %>
            <%= external_link_to upload_media_asset.source_url, Addressable::URI.parse(upload_media_asset.source_url).domain %>
          <% else %>
            <em>No source</em>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
