<%# source %>

<% if source.present? && source.related_posts.present? %>
  <div id="related-posts-by-source">
    <h2>Related Posts</h2>

    <p class="fineprint">
      Found <%= link_to pluralize(source.related_posts.total_count, "other post"), posts_path(tags: source.related_posts_search_query) %> from the same source:
    </p>

    <div>
      <% source.related_posts.each do |post| %>
        <%= post_preview(post, show_deleted: true, show_size: true) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="input" id="iqdb-similar" style="display: none;"></div>
