<%# source %>

<div class="flex flex-row flex-wrap gap-4">
  <% if source.present? && source.related_posts.present? %>
    <div id="related-posts-by-source">
      <h2>Related Posts</h2>

      <p class="fineprint">
        Found <%= link_to pluralize(source.related_posts.total_count, "other post"), posts_path(tags: source.related_posts_search_query) %> from the same source.
      </p>

      <%= render(PostGalleryComponent.new) do |gallery| %>
        <% source.related_posts.each do |post| %>
          <%= gallery.post(post: post, show_deleted: true, show_size: true) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="iqdb-similar" style="display: none;"></div>
</div>
