<div id="c-uploads">
  <div id="a-index">
    <% if @mode == "gallery" %>
      <%= render "uploads/gallery" %>
    <% elsif @mode == "table" %>
      <%= render "uploads/table" %>
    <% end %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
