<div id="c-uploads">
  <div id="a-show">
    <h1 class="mb-4">Upload</h1>

    <% if @upload.is_errored? %>
      <p>Error: <%= @upload.error %>.</p>
    <% elsif @upload.media_asset_count == 0 %>
      <p>Processing upload...</p>

      <% content_for(:html_header) do %>
        <meta http-equiv="refresh" content="1">
      <% end %>
    <% elsif @upload.media_asset_count == 1 %>
      <div id="p-single-asset-upload">
        <%= render "uploads/single_asset_upload", upload_media_asset: @upload.upload_media_assets.first %>
      </div>
    <% end %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
