<div id="c-uploads">
  <div id="a-show">
    <h1>Upload</h1>

    <% if @upload.is_errored? %>
      <p>Error: <%= @upload.error %>.</p>
    <% elsif @upload.media_asset_count == 0 %>
      <p>Processing upload...</p>
    <% elsif @upload.media_asset_count > 1 %>
      <div id="p-multiple-asset-upload">
        <%= render "multiple_asset_upload", upload: @upload %>
      </div>
    <% elsif @upload.media_asset_count == 1 %>
      <div id="p-single-asset-upload">
        <%= render "single_asset_upload", upload_media_asset: @upload.upload_media_assets.first %>
      </div>
    <% end %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
