<div id="c-burs">
  <div id="a-index">
    <h1>Bulk Update Requests</h1>

    <%= render "listing", :bulk_update_requests => @bulk_update_requests %>

    <%= numbered_paginator(@bulk_update_requests) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Bulk Update Requests - <%= Danbooru.config.app_name %>
<% end %>
