<div id="c-bulk-update-requests">
  <div id="a-new">
    <h1>New Bulk Update Request</h1>

    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Bulk Update Request - <%= Danbooru.config.app_name %>
<% end %>
