<p><%= link_to "Search for users with these IP addresses", moderator_ip_addrs_path(:search => {:ip_addr => @results.keys.reject{|ip| ip == "127.0.0.1"}.join(",")}) %></p>

<table class="striped">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Number of Occurrences</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |ip_address, count| %>
      <tr>
        <td><%= link_to_ip ip_address %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
