<p><%= link_to "Search for IP addresses with these users", moderator_ip_addrs_path(:search => {:user_id => @results.map{|user, count| user.id}.join(",")}) %></p>

<table class="striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Number of Occurrences</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |user, count| %>
      <tr>
        <td><%= link_to_user user %></td>
        <td><%= count %></td>
        <td><%= link_to "Show IP addresses", moderator_ip_addrs_path(:search => {:user_id => user.id}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
