<div id="c-moderator-ip-addrs">
  <div id="a-index">
    <h1>IP Addresses</h1>

    <% if params[:search][:user_id].present? || params[:search][:user_name].present? %>
      <div id="p-ip-listing">
        <%= render "ip_listing" %>
      </div>
    <% else %>
      <div id="p-user-listing">
        <%= render "user_listing" %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  IP Addresses - <%= Danbooru.config.app_name %>
<% end %>
