<div id="c-moderator-ip-addrs">
  <div id="a-index">
    <h1>IP Addresses</h1>

    <p>The following users share IP addresses used by <%= params[:search][:user_name] %>. This searches across comments, post changes, note changes, pool changes, wiki changes, and dmails over the past 3 months.</p>

    <table class="striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @search.find_common_users.each do |user_id, count| %>
          <tr>
            <td><%= link_to User.id_to_name(user_id), user_path(user_id) %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  IP Addresses - <%= Danbooru.config.app_name %>
<% end %>
