<div id="c-moderator-ip-addrs">
  <div id="a-index">
    <h1>IP Addresses</h1>

    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @search.execute.each do |k, count| %>
          <tr>
            <td><%= k %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  IP Addresses - <%= Danbooru.config.app_name %>
<% end %>
