<%= form_tag(pool_element_path, :class => "simple_form", :remote => true, :format => :js) do %>
  <%= hidden_field_tag "post_id", @post.id %>

  <div class="input">
    <label>Pool Name</label>
    <span id="pool-name-container"><%= text_field_tag "pool_name", "", :size => 20, :data => { autocomplete: "pool" } %></span>
  </div>

  <div class="input">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
