<%= form_tag(pool_element_path, :class => "simple_form", :remote => true, :format => :js) do %>
  <%= hidden_field_tag "post_id", @post.id %>

  <div class="input">
    <label>Pool Name</label>
    <%= text_field_tag "pool_name", "", "data-autocomplete": "pool", class: "w-full max-w-360px" %>
  </div>

  <div class="input">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
