.paginator {
  > * {
    padding: 0.25rem 0.75rem;
  }

  > a:hover,
  > button:hover {
    background: var(--paginator-arrow-color);
    color: var(--paginator-arrow-background-color);
  }
}

.paginator-ellipsis {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
