@import "../common/000_vars.css.scss";

div.comments-for-post {
  div.notices {
    margin: 1em 0;
  }

  p.info {
    color: #AAA;
    font-style: italic;
    font-size: 80%;
  }

  div.list-of-comments {
    article.comment {
      margin-bottom: 2em;
      word-wrap: break-word;

      div.author {
        width: 12em;
        float: left;
        overflow: hidden;
        margin-right: 1em;

        h1 {
          display: block;
          font-size: $h3_size;
        }
      }

      div.content {
        margin-left: 13em;
        min-width: 17em;

        menu {
          li {
            margin-right: 1em;
          }
        }
      }
    }

    article.comment.below-threshold {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      filter: alpha(opacity=30);
      zoom: 1;
      opacity: 0.3;
    }

    article.comment.below-threshold:hover {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      zoom: 1;
      opacity: 1.0;
    }
  }

  div.comment-preview {
    margin-bottom: 2em;
  }
}

div#c-posts {
  div.comments-for-post {
    float: left;
  }
}

div#c-comments {
  div#a-index, div#a-show {
    div.header {
      span.info {
        margin-right: 1.5em;
      }

      strong, time {
        margin-right: 0.3em;
      }

      div.list-of-tags {
        a {
          margin-right: 0.5em;
        }
      }

      div.notices {
        margin: 1em 0;
      }
    }

    div.preview {
      float: left;
      width: 154px;
      height: 154px;
      margin-right: 30px;
      overflow: hidden;
      text-align: center;
    }

    div.post {
      margin-bottom: 4em;

      div.comments-for-post {
        margin-left: 184px;
        min-width: 30em;
        
        div.list-of-comments {
          float: left;
          width: 100%;
        }
      }
    }
    
    div.comments-for-post {
      div.post {
        article.comment {
          margin-left: 184px;
        }
      }
    }

    div.post.blacklisted {
      display: none;
    }
  }
}
