@import "../common/000_vars.css.scss";

div.comments-for-post {
  div.list-of-comments {
    article.comment {
      margin-bottom: 2em;
      
      div.author {
        width: 20%;
        float: left;
        
        h1 {
          display: block;
          font-size: $h2_size;
        }
      }
      
      div.content {
        margin-left: 2em;
        width: 30em;
        float: left;
        
        menu {
          li {
            margin-right: 0.5em;
          }
        }
      }
    }
    
    article.comment.below-threshold {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      filter: alpha(opacity=30);
      zoom: 1;
      opacity: 0.3;
    }
    
    article.comment.below-threshold:hover {
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      zoom: 1;
      opacity: 1.0;
    }
  }
  
  div.comment-preview {
    margin-bottom: 2em;
  }
}

div#c-comments {
  div#a-index {
    div.header {
      span.info {
        margin-right: 1.5em;
      }

      strong, time {
        margin-right: 0.3em;
      }
      
      time {
        font-weight: bold;
      }
      
      div.list-of-tags {
        a {
          margin-right: 0.5em;
        }
      }
      
      div.notices {
        margin: 1em 0;
      }
    }
    
    div.preview {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 30px;
      overflow: hidden;
    }
    
    div.post {
      margin-bottom: 4em;

      div.comments-for-post {
        float: left;
        width: 55em;
      }
    }
  }
}
