div.list-of-forum-posts {
  p.info {
    color: #AAA;
    font-style: italic;
    font-size: 80%;
  }

  article {
    margin-bottom: 3em;

    div.author {
      width: 12em;
      float: left;
      margin-right: 2em;
      word-wrap: break-word;
    }

    div.content {
      margin-left: 14em;

      menu {
        margin-top: 0.5em;

        li {
          margin-right: 1em;
        }
      }
    }
  }
}

div#c-forum-topics {
  div.single-forum-post {
  }

  div#a-show {
  }

  span.info {
    color: #AAA;
  }

  span.new {
    font-size: 80%;
    color: red;
    margin-right: 0.5em;
  }

  a.last-page {
    color: #666;
  }

  span.locked-topic {
    color: #666;
  }
}
