div.list-of-forum-posts {
  article {
    border: 1px solid #AAA;
    margin: 1em 0em;
    word-wrap: break-word;
    box-shadow: 1px 1px 2px #AAA;

    a.voted {
      font-weight: bold;
    }
    
    span.desc {
      color: grey;
    }

    &:target {
      background-color: #FFC;
    }

    .vote-score-up {
      color: green;
    }

    .vote-score-meh {
      color: goldenrod;
    }

    .vote-score-down {
      color: red;
    }

    div.author {
      padding: 1em 1em 0 1em;
      width: 12em;
      float: left;

      time {
        font-style: italic;
      }
    }

    div.content {
      padding: 1em;
      margin-left: 14em;

      menu {
        margin-top: 0.5em;

        ul.votes {
          margin: 0.5em 0;
        }

        li {
          margin-right: 1em;
        }
      }
    }
  }
}

div#c-forum-topics {
  div.single-forum-post {
  }

  div#a-show {
  }

  span.info {
    color: #AAA;
  }

  span.new {
    font-size: 80%;
    color: red;
    margin-right: 0.5em;
  }

  span.locked-topic {
    color: gray;
  }

  span.level-topic {
    color: #f66;
    font-weight: bold;
  }
  
  tr.forum-topic-row td:last-child {
    white-space: nowrap;
  }
}

#c-forum-posts #a-index {
  tr[data-topic-is-deleted="true"] .forum-post-topic-title::after,
  tr[data-is-deleted="true"] .forum-post-excerpt::after {
    content: " (deleted)";
    color: gray;
  }
}
