div#c-landings {
  div#a-show {
    padding-top: 4em;
    width: 960px;
    margin: auto;

    h1 {
      text-align: center;
      font-size: 4em;
    }
    
    p.slogan {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }
    
    div.column {
      width: 480px;
      vertical-align: top;
      float: left;
      background-color: #000;
    }
    
    div.landing-post {
      overflow: hidden;
    }
    
    div.landing-post:hover img {
      opacity: 0.25;
    }
    
    div.landing-post:hover div.data {
      opacity: 1.0;
    }
    
    div.landing-post div.data {
      position: absolute;
      color: white;
      padding: 5px;
      cursor: pointer;
    }
  }
}