div#c-moderator-dashboards {
  width: 60em;
  
  div#col1 {
    width: 30em;
    float: left;
  }

  div#col2 {
    width: 30em;
    float: left;
  }
  
  div.activity {
    margin-bottom: 1em;
  }

  div#ip-addr-search {
    margin-bottom: 2em;
  }

  div#activity-search {
    margin-bottom: 2em;
  }

  table {
    width: 26em;
  }

  caption {
    font-weight: bold;
    text-align: left;
  }

  th {
    text-align: left;
  }
}
