div#note-container {
  position: absolute;
  z-index: 50;

  div.note-body {
    position: absolute;
    border: 1px solid black;
    background: #FFE;
    min-width: 140px;
    min-height: 1em;
    line-height: normal;
    cursor: pointer;
    padding: 4px;
    z-index: 150;
    overflow: auto;

    h1, h2, h3, h4, h5, h6, a, span, div, blockquote, br, p, ul, li, ol, em, strong, small, big, b, i, font, u, s, code, center {
      line-height: normal;
    }

    > :last-child {
      margin-bottom: 0;
    }

    b, strong {
      font-weight: bold;
    }

    i, em {
      font-style: italic;
    }

    small {
      font-size: 0.8em;
    }

    ruby {
      rt {
        font-size: 0.8em;
      }
    }

    ul {
      margin-left: 1em;
      margin-bottom: 1em;

      ul {
        margin-bottom: 0;
      }

      li {
        list-style-type: disc;

        + br {
          display: none;
        }
      }
    }
  }

  div.note-box {
    position: absolute;
    border: 1px solid white;
    min-width: 5px;
    min-height: 5px;
    width: 100px;
    height: 100px;
    cursor: move;
    background: transparent;
    line-height: normal;

    div.note-box-inner-border {
      border: 1px solid black;
      background: #FFE;
    }

    div.note-box-inner-border.unsaved {
      border: 1px solid red;
    }

    &.embedded {
      div.bg {
        height: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }

      div.note-box-inner-border {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

div#note-preview {
  position: absolute;
  border: 1px solid red;
  opacity: 0.6;
  display: none;
  background: white;
}

div.note-edit-dialog {
  font-size: 0.8em;
}
