div#note-container {
  position: absolute;
  z-index: 500;
  
  div.note-body {
    position: absolute;
    border: 1px solid black;
    background: white;
    min-width: 10px;
    min-height: 1em;
    line-height: normal;
    cursor: pointer;
    padding: 4px;
    z-index: 1500;
    overflow: auto;
    
    p.tn {
      font-size: 0.8em;
      color: gray;
    }
    
    b, strong {
      font-weight: bold;
    }
    
    i, em {
      font-style: italic;
    }
    
    small {
      font-size: 0.8em;
    }
  }
  
  div.note-box {
    position: absolute;
    border: 1px solid white;
    min-width: 5px;
    min-height: 5px;
    width: 100px;
    height: 100px;
    cursor: move;
    background: transparent;
    
    div.note-box-inner-border {
      border: 1px solid black;
      background: white;
    }
    
    div.note-box-inner-border.unsaved {
      border: 1px solid red;
    }
  }
}

div.note-edit-dialog {
  font-size: 0.8em;
}
