@import "../common/000_vars.css.scss";

div#c-pool-elements {
  div#a-new {
    font-size: 0.8em;
    
    form {
      margin-bottom: 1em;
    }
    
    li {
      margin-left: 1em;
      cursor: pointer;
    }
    
    h1 {
      font-size: $h3_size;
    }
  }
}

div#c-pools {
  h1 {
    font-size: $h2_size;
  }
  
  p {
    width: 30em;
  }
  
  textarea {
    height: 10em;
  }
}

div#c-pool-orders {
  width: 75%;
  
  h1 {
    font-size: $h2_size;
  }
  
  div#a-edit {
    ul.ui-sortable {
      list-style-type: none;

      li {
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 150px;
        padding: 10px;
        @include inline-block;
      }

      li.ui-state-default {
        background: none;
      }

      li.ui-state-placeholder {
        background: none;
      }
    }
  }
}