div#c-pool-elements {
  div#a-new {
    font-size: 0.8em;
    
    form {
      margin-bottom: 1em;
    }
    
    li {
      margin-left: 1em;
      cursor: pointer;
    }
    
    h1 {
      font-size: $h3_size;
    }
  }
}

div#c-pools {
  h1 {
    font-size: $h2_size;
  }
  
  p {
    width: 30em;
  }
  
  textarea {
    height: 10em;
  }
}

div#c-pool-orders {
  h1 {
    font-size: $h2_size;
  }
  
  div#a-edit {
    ul.ui-sortable {
      list-style-type: none;

      li {
        padding: 0.5em;
      }

      li.ui-state-default {
        margin-bottom: 20px;
        width: 180px;
        background: none;
      }

      li.ui-state-placeholder {
        margin-bottom: 20px;
        width: 180px;
        height: 150px;
        background: none;
      }
    }
  }
}