$tooltip-width: 965px;
$tooltip-height: 160px;

@mixin thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border: 0px none #FFFFFF;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-track {
    background: #EEEEEE;
    border: 0px none #ffffff;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-track:active {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}


.post-tooltip {
  max-width: $tooltip-width;
  box-sizing: border-box;
  line-height: 16px;

  border-color: #767676;
  box-shadow: 1px 1px 2px #666;

  .qtip-content {
    padding: 4px 6px;

    .post-tooltip-body {
      @include thin-scrollbar;
      max-height: $tooltip-height;
      overflow-y: auto;

      li {
        margin-right: 0;
      }
    }
  }

  &.post-tooltip-loading {
    display: none !important;
  }
}
