body.mode-view {
  background-color: #FFF;
}

body.mode-edit {
  background-color: #5C5;
}

body.mode-tag-script {
  background-color: #D6D;
}

body.mode-add-fav {
  background-color: #FFA;
}

body.mode-remove-fav {
  background-color: #FFA;
}

body.mode-rating-s {
  background-color: #6F6;
}

body.mode-rating-q {
  background-color: #AAA;
}

body.mode-rating-e {
  background-color: #F66;
}

body.mode-vote-up {
  background-color: #AFA;
}

body.mode-vote-down {
  background-color: #FAA;
}

body.mode-lock-rating {
  background-color: #AA3;
}

body.mode-lock-note {
  background-color: #3AA;
}

body.mode-approve {
  background-color: #48C;
}

body.mode-unapprove {
  background-color: #F66;
}

body.mode-add-to-pool {
  background-color: #26A;
}

body.mode-translation {
  background-color: #5CD;
}

body.mode-ban {
  background-color: #F33;
}

#page, #top, #page-footer {
  background-color: white;
}
