@import "../common/000_vars.css.scss";

article.post-preview {
  height: 154px;
  width: 154px;
  margin: 0 10px 10px 0;
  float: left;
  overflow: hidden;
  text-align: center;
  @include inline-block;
  
  img {
    margin: auto;
  }
}

article.post-preview.blacklisted-active {
  display: none;
}

article.post-preview {
  border: 2px solid transparent;
}

article.post-preview.post-status-has-parent img {
  border: 2px solid #CC0;
}

article.post-preview.post-status-has-children img {
  border: 2px solid #0F0;
}

article.post-preview.post-status-pending img {
  border: 2px solid #00F;
}

article.post-preview.post-status-flagged img {
  border: 2px solid #F00;
}

.category-1 a, a.tag-type-1 {
  color: #A00;
}

.category-3 a, a.tag-type-3 {
  color: #A0A;
}

.category-4 a, a.tag-type-4 {
  color: #0A0;
}

.post-count {
  color: #CCC;
  margin-left: 0.2em;
}

div#c-posts {
  div.notice {
    font-size: 0.8em;
    padding: 1em;
    margin-bottom: 1em;
    
    ul {
      margin-left: 1em;
    }
  }
  
  aside#sidebar > section#pool-sidebar {
    span.ui-icon {
      color: #666;
    }
  }

  aside#sidebar > section > ul {
    margin-bottom: 1em;
  }
  
  aside#sidebar > section > ul li {
    list-style-type: none;
  }

  aside#sidebar > section > ul ul li {
    margin-left: 1em;
  }

  aside#sidebar > section#blacklist-box ul {
    margin-left: 1em;
    
    li {
      list-style-type: disc;
    }
    
    a {
      color: $link_color;
      cursor: pointer;
    }
    
    span {
      color: #AAA;
    }
  }
  
  h1 {
    font-size: $h3_size;
  }
  
  div#a-index {
    div#posts {
      width: 80%;
    }
    
    div#jlist-rss-ads-for-show {
      float: right;
    }
    
    menu#post-sections {
      margin-bottom: 0.5em;
      font-size: $h3_size;
      
      li {
        padding: 0 1em 0.5em 0;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  
  div#a-show {
    menu#post-sections {
      margin: 0;
      font-size: $h3_size;
      
      li {
        padding: 0 1em 0 0;
        
        &.active {
          font-weight: bold;
        }
      }
      
      div.share a {
        margin: 0;
      }
    }
    
    section {
      margin-top: 1em;
    }
    
    span.quick-mod {
      float: right;
    }
  }
  
  div#quick-edit-div {
    textarea {
      width: 30em;
      height: 4em;
      display: block;
    }
  }
}

div#c-post-versions {
  div#a-index {
    ins, ins a {
      color: green;
      text-decoration: none;
      margin-right: 0.5em;
    }
    
    del, del a {
      color: red;
      text-decoration: line-through;
      margin-right: 0.5em;
    }
  }
}

div#unapprove-dialog {
  p {
    margin-bottom: 1em;
  }
}

