.post-tooltip {
  max-width: 660px;
  border-color: #767676;
  box-shadow: 1px 1px 2px #666;

  .qtip-content {
    padding: 4px 6px;
  }

  &.post-tooltip-loading {
    display: none !important;
  }
}
