@import "../common/000_vars.css.scss";

div.post-previews {
  overflow: visible;
}

article.post-preview {
  height: 150px;
  width: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  overflow: hidden;
  @include inline-block;
  
  img.wide {
    margin-left: -25%;
  }
}

article.post-preview.blacklisted-active {
  display: none;
}

article.post-preview {
  border: 2px solid transparent;
}

article.post-preview.post-status-has-parent {
  border: 2px solid #CC0;
}

article.post-preview.post-status-has-children {
  border: 2px solid #0F0;
}

article.post-preview.post-status-pending {
  border: 2px solid #00F;
}

article.post-preview.post-status-flagged {
  border: 2px solid #F00;
}

.category-1 a {
  color: #A00;
}

.category-3 a {
  color: #A0A;
}

.category-4 a {
  color: #0A0;
}

.post-count {
  color: #CCC;
  margin-left: 0.2em;
}

div#c-posts {
  div.notice {
    font-size: 0.8em;
    padding: 1em;
    margin-bottom: 1em;
    
    ul {
      margin-left: 1em;
    }
  }
  
  aside#sidebar > section#pool-sidebar {
    span.ui-icon {
      color: #666;
    }
  }
  
  aside#sidebar > section > ul li {
    list-style-type: none;
  }

  aside#sidebar > section > ul ul li {
    margin-left: 1em;
  }

  aside#sidebar > section#blacklist-box ul {
    margin-left: 1em;
    
    li {
      list-style-type: disc;
    }
    
    a {
      color: $link_color;
      cursor: pointer;
    }
    
    span {
      color: #AAA;
    }
  }
  
  h1 {
    font-size: $h3_size;
  }
  
  div#a-index {
    menu#post-sections {
      margin-bottom: 0.5em;
      font-size: $h3_size;
      
      li {
        padding: 0.25em 0.5em;
        
        &.active {
          background-color: $menu_color;
          font-weight: bold;
          @include border-radius(4px);
        }
      }
    }
  }
  
  div#a-show {
    menu#post-sections {
      margin-top: 1em;
      font-size: $h3_size;
      
      li {
        padding: 0.25em 0.5em;
        
        &.active {
          background-color: $menu_color;
          font-weight: bold;
          @include border-radius(4px);
        }
      }
    }
    
    section {
      margin-top: 1em;
    }
    
    span.quick-mod {
      float: right;
    }
  }
  
  div#quick-edit-div {
    textarea {
      width: 30em;
      height: 4em;
      display: block;
    }
  }
}

div#c-explore-posts {
}

div#c-post-versions {
  div#a-index {
    ins, ins a {
      color: green;
      text-decoration: none;
      margin-right: 0.5em;
    }
    
    del, del a {
      color: red;
      text-decoration: line-through;
      margin-right: 0.5em;
    }
  }
}

div#unapprove-dialog {
  p {
    margin-bottom: 1em;
  }
}

