@import "../common/000_vars.css.scss";

div#related-tags {
  overflow: auto;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  background: #EEE;
  
  div.artist {
    margin-bottom: 1em;
  }
  
  div.artist:last-child {
    margin-bottom: 0;
  }
  
  div.tag-column {
    max-width: 15em;
    margin-right: 2em;
    float: left;
    
    ul {
      margin: 0;
      
      li {
        padding: 0.25em 0.5em;
        
        em {
          padding: 0.25em 0.5em;
          font-weight: bold;
        }
        
        a {
          padding: 0.25em 0.5em;
          min-width: 3em;
        }
        
        a.selected {
          background-color: $link_color;
          color: white;
        }
      }
    }
  }
}
