#c-reports {
	#a-similar-users {
    div.box {
      h2, h3 {
        color: #333;
      }

      margin-bottom: 2em;
    }

    span.accuracy {
      color: #666;
    }

    /* clearfix hacks */
    div.box:before, div.box:after {
      content: "";
      display: table;
    }

    div.box:after {
      clear: both;
    }
  }
}