div#c-uploads {
  div#a-new {
    div#upload-guide-notice {
      margin-bottom: 2em;
    }

    fieldset.ratings {
      label {
        display: inline;
      }
    }
    
    textarea {
      margin-bottom: 0.5em;
    }
    
    div#source-info {
      margin: 1em 0;
      padding: 1em;
      border: 1px solid gray;
      
      p {
        margin: 0;
      }
      
      ul {
        a {
          margin-right: 1em;
        }
      }
    }
  }
}