div#c-uploads {
  div#a-new {
    div#upload-guide-notice {
      margin-bottom: 2em;
    }

    ul#links {
      margin-bottom: 1em;
    }

    label[for="upload_as_pending"] {
      display: inline;
    }

    fieldset.ratings {
      label {
        display: inline;
      }
    }

    textarea {
      margin-bottom: 0.5em;
    }

    .hint {
      display: block;
    }

    div#source-info {
      margin: 1em 0;
      padding: 1em;
      border: 1px solid gray;
      min-height: 5em;

      p {
        margin: 0;
      }

      ul {
        a {
          margin-right: 1em;
        }
      }
    }

    div.field_with_errors {
      display: inline;
    }
  }

  div.upload-preview {
    display: inline-block;

    > a {
      width: 154px;
      height: 154px;
      margin: 0 10px 10px 0;
      display: inline-block;

      img {
        margin: auto;
        border: 2px solid transparent;

        max-width: 154px;
        max-height: 154px;
      }
    }

    .caption-top {
      font-size: 0.8em;
      margin-bottom: 0;
    }
  }
}
