div#c-user-feedbacks {
  .feedback-category-positive {
    background: #DDFFDD !important;
  }

  .feedback-category-negative {
    background: #FFDDDD !important;
  }

  .feedback-category-neutral {
    background: #FFFFFF !important;
  }
  
  blockquote {
    padding: 0.5em;
  }
}
