@import "../common/000_vars.css.scss";

div#c-users {
  div#a-edit {
    h1 {
      margin-bottom: 0.5em;
    }
    
    div.input span.hint {
      visibility: hidden;
    }
    
    div.input:hover span.hint {
      visibility: visible;
    }
  }
  
  div#a-new {
    max-width: 50em;
    
    p {
      margin-bottom: 1em;
    }
    
    li {
      margin-left: 1em;
      list-style-type: disc;
    }
    
    div#account-comparison {
      padding: 0 1em;
      margin: 1em 0;
      
      h1 {
        font-size: $h3_size;
      }
      
      li {
        font-size: 0.8em;
        line-height: 1.5em;
      }
      
      section {
        width: 15em;
        float: left;
        padding-right: 1em;
      }
    }
    
    footer.nav-links {
      font-size: 1.4545em;
      font-weight: bold;
      text-align: center;
      display: block;
    }
    
    div#p2 ul {
      margin-bottom: 2em;
    }
  }
}