@import "../common/000_vars.scss";

div#c-users {
  div#a-show {
    div.box {
      h2, h3 {
        color: #333;
      }

      margin-bottom: 2em;
    }

    /* clearfix hacks */
    div.box:before, div.box:after {
      content: "";
      display: table;
    }

    div.box:after {
      clear: both;
    }

    table.user-statistics {
      tr {
        height: 1.75em;
      }

      th {
        width: 15%;
        text-align: right;
        padding-right: 1em;
        vertical-align: top;
      }

      td {
        width: 85%;
        vertical-align: top;
      }

      p {
        margin-bottom: 0.5em;
      }
    }
  }

  div#a-edit {
    h1 {
      margin: 0.5em 0;
    }

    h2 {
      margin: 0.5em 0;
    }

    div.input {
      margin-bottom: 2em;
    }

    div.input span.hint {
      display: block;
      max-width: 70%;
    }

    .active {
      color: black;
    }
  }

  div#a-new {
    max-width: 60em;

    p {
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.4em;
    }

    footer.nav-links {
      font-size: 1.4545em;
      font-weight: bold;
      text-align: center;
      display: block;
    }

    div#p2 ul {
      margin-bottom: 2em;
    }
  }

  div#a-upgrade-information {
    max-width: 40em;
    font-size: 1.2em;

    form.stripe {
      display: inline;
    }

    div.section {
      margin-bottom: 2em;
    }

    div#feature-comparison {
      overflow: hidden;
      margin-bottom: 1em;

      table {
        width: 100%;

        colgroup {
          width: 10em;
        }

        colgroup#basic {
        }

        colgroup#gold  {
          background-color: #FFF380;
        }

        colgroup#platinum {
          background-color: #eee;
        }

        td, th {
          text-align: center;
          vertical-align: top;
          padding: 0.5em 0;
        }

        tbody {
          tr:hover {
            background-color: #FEF;
          }
        }

        p.cost-footnote {
          font-size: 80%;
          color: gray;
          margin: 0;
        }
      }
    }
  }
}
