@import "../common/000_vars.css.scss";

div#c-users {
  div#a-show {
    dl {
      dt { 
        width: 12em;
        float: left;
        clear: left;
        margin-right: .75em;
      }
      
      dt:after { 
        content: ':';
      }
    }
  }
  
  div#a-edit {
    h1 {
      margin-bottom: 0.5em;
    }
    
    div.input {
      margin-bottom: 2em;
    }
    
    div.input span.hint {
      display: block;
      max-width: 30em;
    }
  }
  
  div#a-new {
    max-width: 40em;
    
    p {
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.4em;
    }

    footer.nav-links {
      font-size: 1.4545em;
      font-weight: bold;
      text-align: center;
      display: block;
    }
    
    div#p2 ul {
      margin-bottom: 2em;
    }
  }
  
  div#a-upgrade-information {
    max-width: 40em;
    font-size: 1.2em;
    
    div#feature-comparison {
      overflow: hidden;
      margin-bottom: 1em;
      
      table {
        width: 100%;
        
        colgroup {
          width: 10em;
        }
                
        colgroup#basic {
        }
        
        colgroup#gold  {
          background-color: #FFF380;
        }
        
        colgroup#platinum {
          background-color: #eee;
        }
        
        td, th {
          text-align: center;
          vertical-align: top;
          padding: 0.5em 0;
        }
        
        tbody {
          tr {
            border-bottom: 2px solid black;
          }
        }
        
        p.cost-footnote {
          font-size: 80%;
          color: gray;
          margin: 0;
        }
      }
    }
  }
}