@import "../common/000_vars.css.scss";

div#c-users {
  div#a-edit {
    h1 {
      margin-bottom: 0.5em;
    }
    
    div.input {
      margin-bottom: 2em;
    }
    
    div.input span.hint {
      display: block;
      max-width: 30em;
    }
  }
  
  div#a-new {
    max-width: 40em;
    
    p {
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.4em;
    }
    
    input[type=submit] {
      padding: 5px 20px;
      font-size: 20pt;
      font-weight: bold;
    }

    footer.nav-links {
      font-size: 1.4545em;
      font-weight: bold;
      text-align: center;
      display: block;
    }
    
    div#p2 ul {
      margin-bottom: 2em;
    }
  }
  
  div#a-upgrade-information {
    max-width: 40em;
    font-size: 1.2em;
    
    form {
      input {
        font-size: 20pt;
      }
      
      input[type=submit] {
        padding: 5px 20px;
        font-weight: bold;
      }
    }
    
    div#feature-comparison {
      overflow: hidden;
      margin-bottom: 1em;
      
      div.column {
        width: 11em;
        float: left;
        border: 1px solid #666;
        @include border-radius(4px);
        padding: 0.25em 0.5em;
        margin: 0.5em;
        
        h1 {
          font-size: $h3_size;
        }
        
        li {
          margin-left: 1.5em;
          list-style-type: disc;
        }
        
        &#basic-account {
          background: rgb(240, 255, 240);
        }
        
        &#privileged-account {
          background: rgb(255, 255, 240);
        }

        &#contributor-account {
          background: rgb(240, 240, 240);
        }
      }
    }
  }
}