div#c-wiki-pages {
  span.version {
    color: #AAA;
  }

  div.notice {
    font-size: 0.8em;
    padding: 1em;
    margin: 1em 0;
  }
  
  del {
    background: #FCC;
    text-decoration: none;
  }

  ins {
    background: #CFC;
    text-decoration: none;
  }

  table {
    margin-bottom: 1em;
  }

  #content {
    margin-left: 15em;
    padding-left: 1em;
  }

  div.redirected-from {
    font-size: 0.8em;
    margin-bottom: 1em;
  }
}
