div#c-wiki-pages {
  form span.hint {
    display: block;
  }

  #a-new {
    div.notice {
      font-size: 0.8em;
      padding: 1em;
      margin: 1em 0;
    }
  }
}

.wiki-other-name {
  background-color: #EEE;
  padding: 3px;
  border-radius: 3px;
}
