div#c-wiki-page-versions {
  #a-diff {
    del {
      background: #FCC;
      text-decoration: none;
    }

    ins {
      background: #CFC;
      text-decoration: none;
    }
  }

  #a-index {
    table {
      margin-bottom: 1em;
    }
  }

  #a-show {
    span.version {
      color: #AAA;
    }
  }
}
