<div class="appeal-dialog-body">
  <%= embed_wiki("help:appeal_notice") %>

  <%= edit_form_for(post_appeal, format: :js, remote: true) do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.input :reason, as: :dtext, inline: true, placeholder: "Optional" %>
  <% end %>
</div>
