<ul class="post-appeal-reasons list-bulleted">
  <% appeals.each do |appeal| %>
    <li class="post-appeal-reason">
      <span class="prose"><%= format_text(appeal.reason, inline: true) %></span>
      - <%= link_to_user(appeal.creator) %>
      - <%= time_ago_in_words_tagged(appeal.created_at) %>
    </li>
  <% end %>
</ul>
