<div id="c-post-appeals">
  <div id="a-edit">
    <h1>Edit Appeal</h1>

    <p>
      Editing appeal for <%= link_to "post ##{@post_appeal.post_id}", @post_appeal.post %>.
    </p>

    <%= edit_form_for(@post_appeal) do |f| %>
      <%= f.input :reason, as: :dtext, input_html: { autofocus: true } %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>
