<div id="c-post-events">
  <div id="a-index">
    <h1>Flags &amp; Appeals</h1>

  <%= render "listing", :events => @events %>
  </div>
</div>

<% content_for(:page_title) do %>
  Events - <%= Danbooru.config.app_name %>
<% end %>
