$link_color: #006FFA;
$link_hover_color: #9093FF;

.blacklisted {
	display: none !important; 
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
  font-family: verdana, sans-serif;
	font-size: 100%;
  margin: 0;
  padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4 {
  font-family: Tahoma;
	line-height: 1em;
}

body {
  font-size: 80%;
  padding: 1em 2em;
  margin: 0;
}

article, section {
  display: block;
}

a:link {
  color: $link_color;
  text-decoration: none;
}

a:visited {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  color: $link_hover_color;
  text-decoration: none;
}

a:active {
  color: $link_color;
  text-decoration: none;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: #EEE;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

header {
	margin: 0 0 1em 0;
	padding: 0;
	display: block;
}

img {
  border: none;
  vertical-align: middle;
}

input[type=text], input[type=password], input[type=url], textarea, button {
/*  border: 1px solid #AAA;*/
	font-size: 1em;
/*  -moz-border-radius: 4px;*/
/*  -webkit-border-radius: 4px;*/
}

input[type=submit] {
	padding: 1px 4px;
/*  border: 1px solid #AAA;*/
/*  background-color: #EEE;*/
/*  -moz-border-radius: 4px;*/
/*  -webkit-border-radius: 4px;*/
	font-size: 1em;
	cursor: pointer;
}

input:focus, textarea:focus {
/*  background-color: #FFD;*/
}

input[type=submit]:hover {
/*  background-color: #F6F6F6;*/
}

menu {
	margin: 0;
	padding: 0;
	
	ul {
  	margin: 0;
  	padding: 0;
	}
	
	li {
  	margin: 0 1em 0 0;
  	padding: 0;
  	list-style-type: none;
  	display: inline;	  
	}
}

section {
	display: block;
}

span.link {
  color: $link_color;
  cursor: pointer;
}

table tfoot {
  margin-top: 2em;
}

div#notice {
  margin: 1em;
  padding: 1em;
  border: 2px solid #666;
  background: #EEE;
}

div#page {
  aside#sidebar {
  	width: 20%;
  	float: left;
  }

  aside#sidebar > section {
  	margin-bottom: 1em;
  }

  section#content {
    width: 75%;
  	float: left;
  	margin-left: 2em;
  }
}

div.clearfix {
  clear: both;
}

/*** Paginator ***/
div.paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  clear: both;
  
  a {
    margin: 0 3px;
    padding: 2px 6px;
    font-weight: normal;
    border: 1px solid #EAEAEA;
  }

  a.arrow {
    border: none;
  }

  a.arrow:hover {
    background: white;
    color: #9093FF;
  }

  a.current {
    border: 1px solid #AAA;
  }

  a:hover {
    background: rgb(60, 60, 220);
    color: white;
  }

  span {
    margin: 0 3px;
    padding: 2px 6px;
  }
}


/*** Header ***/

body > header > h1 {
  font-size: 3em;
  font-family: Tahoma, Helvetica, sans-serif;
}


/*** Simple Form ***/
form.simple_form {
  input[type=submit] {
    margin-left: 10.3em;
  }
  
  div.input {
    margin-bottom: 0.5em;
    
    input[type=text], input[type=file], textarea {
      width: 300px;
    }
    
    textarea {
      height: 100px;
    }
    
    label {
      vertical-align: top;
      display: inline-block;
      width: 10em;
      cursor: pointer;
      font-weight: bold;
    }
    
    span.hint {
      margin-left: 10em;
      color: #666;
      font-style: italic;
      vertical-align: top;
      display: block;
    }
    
    fieldset {
      border: none;
      display: inline;
      margin: 0;
      padding: 0;
      
      label {
        font-weight: normal;
        width: auto;
        margin-right: 2em;
      }
    }
  }
}


/*** Posts ***/

div.posts {
  h1 {
    font-size: 1.2em;
  }
  
  h2 {
    font-size: 1.1em;
  }
  
  aside#sidebar > section > ul li {
    list-style-type: none;
  }

  aside#sidebar > section > ul ul li {
    margin-left: 1em;
  }
  
  section#tag-and-wiki-box {
    padding: 0;
    
    menu {
      li {
        display: inline-block;
      }
      
      li.active a {
        color: #000;
      }
    }
    
    h1 {
      font-size: 1.2em;
    }
    
    div#tag-box {
      h2 {
        display: none;
      }
      
      li {
        list-style-type: none;
      }
    }
    
    div#wiki-box {
      h2 {
        display: none;
      }
    }
  }

  section#content > h1 {
    display: none;
  }
  
  section#content {
    section > h2 {
      display: none;
    }
    
    menu#post-sections {
      margin-bottom: 1em;
      
      li {
        font-size: 1.1em;
        font-weight: bold;
      }
      
      li.active a {
        color: black;
      }
    }
  }
}



/*** Comments ***/
div.comment-response {
}

div.comment-response > div {
	margin-top: 1em;
}

div.comment-list > article {
  margin-bottom: 1em;
  display: block;
}

div.comment-list > article > header {
  float: left;
  width: 15em;
}

div.comment-list > article > div {
  float: left;
  width: 40em;
}


/*** Sessions ***/
div#sessions {
  div#new {
    section {
      width: 30em;
      float: left;
    }

    aside {
      width: 20em;
      float: left;
    
      li {
        display: list-item;
        margin-bottom: 0.5em;
        list-style-type: square;
        margin-left: 1em;
      }
    }
  
    h2 {
      margin-bottom: 5px;
    }
  }
}


/*** Artists ***/
div#artists {
  span.new-artist {
    font-weight: bold;
    color: #A00;
  }

  div#show {
    max-width: 60em;

    h1 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    p.legend {
      margin-bottom: 2em;
      font-size: 0.8em;
      font-style: italic;    
    }
  }  
}


/*** Users ***/
div#users {
  div#new {
    max-width: 60em;
    
    h1 {
      margin-bottom: 0.5em;
    }
    
    p {
      margin-bottom: 1em;
    }
    
    li {
      margin-left: 1em;
    }
    
    div#account-comparison {
      h1 {
        font-size: 1.4em;
        margin-bottom: 3px;
      }
      
      li {
        font-size: 0.9em;
        line-height: 1.5em;
      }
      
      section {
        width: 18em;
        float: left;
        padding: 1em;
      }
    }
    
    footer.nav-links {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      display: block;
    }
    
    div#p2 ul {
      margin-bottom: 2em;
    }
  }
}

/*** Uploads ***/
div.uploads {
  div.new {
    div#upload-guide-notice {
      margin-bottom: 2em;
    }
  }
}
