<div id="c-super-voters">
  <div id="a-index">
    <h1>Super Voters</h1>

    <p>The following users will increment or decrement a post's score by <%= SuperVoter::MAGNITUDE %> when they vote. This list is regenerated once a week.</p>

    <ul>
      <% @super_voters.each do |super_voter| %>
        <li><%= link_to_if CurrentUser.user.is_moderator?, super_voter.user.name, posts_path(tags: "upvote:#{super_voter.user.name}") %></li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for(:page_title) do %>
  Super Voters - <%= Danbooru.config.app_name %>
<% end %>
