<div id="c-reports">
  <div id="a-post-versions-create">
    <h1>Post Changes Report</h1>

    <p>Only the 1,000 most recent changes are displayed.</p>

    <%= render "post_versions/listing", :post_versions => @report.post_versions %>
    
  </div>
</div>

<% content_for(:page_title) do %>
  Post Changes Report - <%= Danbooru.config.app_name %>
<% end %>
