# Deploy the site manually.

name: Deploy

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: Environment
        options:
          - testbooru
        default: 'testbooru'

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment: ${{ inputs.environment }}
      

    # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
    concurrency:
      group: deploy
      cancel-in-progress: true

    steps:
      # https://github.com/marketplace/actions/kubectl-tool-installer
      - name: Install Kubectl
        uses: Azure/setup-kubectl@v4.0.1

      - name: Configure Kubectl
        run: |
          mkdir -p ~/.kube
          echo "$KUBECONFIG_YAML" > ~/.kube/config
        env:
          KUBECONFIG_YAML: ${{secrets.KUBECONFIG_YAML}}

      - name: Deploy
        run: |
          kubectl config set-context --current --namespace=danbooru
          kubectl rollout restart deploy/downbooru && kubectl rollout status deploy/downbooru
          kubectl rollout restart deploy/danbooru-cron && kubectl rollout status deploy/danbooru-cron
          kubectl rollout restart deploy/danbooru-jobs && kubectl rollout status deploy/danbooru-jobs
          kubectl rollout restart deploy/danbooru && kubectl rollout status deploy/danbooru
