# Deploy the site to https://testbooru.donmai.us on workflow trigger.

name: Deploy Testbooru

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run
on:
  workflow_dispatch:

jobs:
  deploy-testbooru:
    runs-on: ubuntu-latest

    # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
    concurrency: deploy-testbooru

    steps:
      # https://github.com/marketplace/actions/kubectl-tool-installer
      - name: Install Kubectl
        uses: Azure/setup-kubectl@v4.0.1

      - name: Configure Kubectl
        run: |
          mkdir -p ~/.kube
          echo "$KUBECONFIG_YAML" > ~/.kube/config
        env:
          KUBECONFIG_YAML: ${{secrets.TESTBOORU_KUBECONFIG}}

      - name: Deploy to testbooru
        run: |
          kubectl config set-context --current --namespace=danbooru
          kubectl rollout restart deploy/downbooru && kubectl rollout status deploy/downbooru
          kubectl rollout restart deploy/danbooru-cron && kubectl rollout status deploy/danbooru-cron
          kubectl rollout restart deploy/danbooru-jobs && kubectl rollout status deploy/danbooru-jobs
          kubectl rollout restart deploy/danbooru && kubectl rollout status deploy/danbooru
