.post-gallery-inline {
  overflow-x: auto;
  white-space: nowrap;

  article.post-preview {
    width: auto;
    height: auto;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    overflow: hidden;
    vertical-align: top;
  }
}

@media screen and (max-width: 660px) {
  .post-gallery-full {
    .posts-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0.25rem;

      &.user-disable-cropped-false article.post-preview img.has-cropped-true {
        object-fit: none;
      }
    }
  }
}
