<div class="post-gallery post-gallery-<%= gallery_type %> post-gallery-<%= size %>">
  <% if posts.empty? %>
    <p>No posts found.</p>
  <% else %>
    <div class="posts-container gap-2">
      <% posts.each do |post| -%>
<%    %><%= post -%>
      <% end -%>
    </div>
  <% end %>

  <%= footer %>
</div>
